workflow.json
{
  "id": "anZ9xDsVR1jabmE5",
  "name": "MM Paid Monitoring",
  "description": null,
  "nodes": [
    {
      "parameters": {
        "content": "## \u2699\ufe0f Daily Path Setup\n\n**Open `MM Get yesterday` and `MM Get day_before_yesterday`** and select the correct sheet tabs from the dropdown.\n\nAlso: **select your Anthropic Claude credential** on the 3 model nodes.",
        "height": 140,
        "width": 360
      },
      "id": "53122556-cfe7-4be1-8ad0-c5c9c5a927a4",
      "name": "NOTE: Daily Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -64
      ]
    },
    {
      "parameters": {
        "content": "## \ud83d\udcc5 Weekly Path\nRuns every **Tuesday at 10 AM**.\nReads `last_week` + `prev_week` + MM budget.",
        "height": 100,
        "width": 280
      },
      "id": "c0aba508-638a-4cdc-aa1b-ebadc94d1516",
      "name": "NOTE: Weekly Path",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        752
      ]
    },
    {
      "parameters": {
        "content": "## \ud83d\udcc6 Monthly Path\nRuns on **1st of month at 10 AM**.\nReads `last_month` + `prev_month` + MM budget.",
        "height": 100,
        "width": 280
      },
      "id": "90b2e0e8-5f43-4b46-ac7f-e63cc0db48a1",
      "name": "NOTE: Monthly Path",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        1552
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "88160cef-85e1-4c5a-bf03-d9de7d1568c8",
      "name": "Daily Trigger (Mon\u2013Fri 9 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": 829560357,
          "mode": "list",
          "cachedResultName": "campaigns_yesterday",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0/edit#gid=829560357"
        },
        "options": {}
      },
      "id": "b01b78cd-3948-46c6-a131-96b49776e110",
      "name": "MM Get yesterday",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        272,
        -160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": 1301012559,
          "mode": "list",
          "cachedResultName": "campaigns_day_before_yesterday",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0/edit#gid=1301012559"
        },
        "options": {}
      },
      "id": "1250f50a-ebf4-46ee-bef3-41074b84514c",
      "name": "MM Get day_before_yesterday",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        272,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": 553316878,
          "mode": "list",
          "cachedResultName": "last_week"
        },
        "options": {}
      },
      "id": "e2c6919d-ce23-4251-a895-fbde0802215a",
      "name": "MM Get last_week (baseline)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        272,
        160
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/***\n * Compile Period: yesterday\n * Handles campaign, adgroup, and keyword rows from merged input.\n ***/\nconst PERIOD = 'yesterday';\nconst rows = $input.all().map(i => i.json || {});\n\nfunction toNum(v) {\n  if (v == null || v === '') return 0;\n  const n = Number(String(v).replace(/,/g,'.').replace(/[^0-9.\\-]/g,''));\n  return Number.isFinite(n) ? n : 0;\n}\nfunction normChannel(v) {\n  const s = String(v || '').toUpperCase().replace(/[_\\s]/g,' ').trim();\n  if (s.includes('SEARCH')) return 'SEARCH';\n  if (s.includes('PERFORMANCE') || s.includes('PMAX') || s.includes('MAX')) return 'PERFORMANCE MAX';\n  return s || 'OTHER';\n}\nconst safeDiv = (n, d) => (d && Number.isFinite(n) && Number.isFinite(d)) ? n/d : 0;\n\n// \u2500\u2500 Level detection \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst isCampaign = r => !('adgroup_id' in r);\nconst isAdgroup  = r => 'adgroup_id' in r && !('keyword' in r);\nconst isKeyword  = r => 'keyword' in r;\n\nconst campaignRows = rows.filter(isCampaign);\nconst adgroupRows  = rows.filter(isAdgroup);\nconst keywordRows  = rows.filter(isKeyword);\n\nfunction compileSupplementary(sRows, nameField) {\n  if (!sRows.length) return { total_rows: 0, has_names: false, by_name: {} };\n  const byName = {};\n  for (const r of sRows) {\n    const raw = r[nameField];\n    const ok  = raw != null && String(raw).trim() !== '' && String(raw).toLowerCase() !== 'nan';\n    const key = ok ? String(raw).trim() : '__unknown__';\n    if (!byName[key]) byName[key] = { rows: 0, imp: 0, clk: 0, spend: 0, conv: 0, value: 0 };\n    byName[key].rows++;\n    byName[key].imp   += toNum(r.impressions);\n    byName[key].clk   += toNum(r.clicks);\n    byName[key].spend += toNum(r.cost);\n    byName[key].conv  += toNum(r.conversions);\n    byName[key].value += toNum(r.conv_value);\n  }\n  return {\n    total_rows: sRows.length,\n    has_names: Object.keys(byName).some(k => k !== '__unknown__'),\n    by_name: byName\n  };\n}\n\n// \u2500\u2500 Campaign-level compile \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction compileRows(mainRows) {\n  const byId = {};\n  for (const r of mainRows) {\n    const id   = String(r.campaign_id   || '').trim();\n    const name = String(r.campaign_name || '').trim();\n    const ch   = normChannel(r.channel  || '');\n    if (!id && !name) continue;\n    const key = id || name;\n    if (!byId[key]) byId[key] = {id, name, channel:ch, imp:0, clk:0, spend:0, conv:0, value:0};\n    byId[key].imp   += toNum(r.impressions);\n    byId[key].clk   += toNum(r.clicks);\n    byId[key].spend += toNum(r.cost);\n    byId[key].conv  += toNum(r.conversions);\n    byId[key].value += toNum(r.conv_value);\n  }\n  const campaigns = Object.values(byId).map(c => ({\n    ...c,\n    ctr:  safeDiv(c.clk,   c.imp),\n    cpc:  safeDiv(c.spend, c.clk),\n    cvr:  safeDiv(c.conv,  c.clk),\n    roas: safeDiv(c.value, c.spend),\n  }));\n  const totals = {imp:0, clicks:0, spend:0, conv:0, value:0};\n  for (const c of campaigns) {\n    totals.imp    += c.imp;\n    totals.clicks += c.clk;\n    totals.spend  += c.spend;\n    totals.conv   += c.conv;\n    totals.value  += c.value;\n  }\n  totals.ctr  = safeDiv(totals.clicks, totals.imp);\n  totals.cpc  = safeDiv(totals.spend,  totals.clicks);\n  totals.cvr  = safeDiv(totals.conv,   totals.clicks);\n  totals.roas = safeDiv(totals.value,  totals.spend);\n  const byChannel = {};\n  for (const c of campaigns) {\n    const ch = c.channel;\n    if (!byChannel[ch]) byChannel[ch] = {imp:0, clicks:0, spend:0, conv:0, value:0};\n    byChannel[ch].imp    += c.imp;\n    byChannel[ch].clicks += c.clk;\n    byChannel[ch].spend  += c.spend;\n    byChannel[ch].conv   += c.conv;\n    byChannel[ch].value  += c.value;\n  }\n  for (const b of Object.values(byChannel)) {\n    b.ctr  = safeDiv(b.clicks, b.imp);\n    b.cpc  = safeDiv(b.spend,  b.clicks);\n    b.roas = safeDiv(b.value,  b.spend);\n  }\n  const ranked = campaigns.filter(c => c.spend >= 10).sort((a,b) => b.roas - a.roas);\n  return { totals, by_channel: byChannel, campaigns,\n            top3_labels: ranked.slice(0,3).map(c=>c.name),\n            bottom3_labels: ranked.slice(-3).map(c=>c.name).reverse() };\n}\n\n// Use campaign rows for financials; fall back to all rows if no campaign rows detected\nconst mainRows = campaignRows.length > 0 ? campaignRows : rows;\nconst result   = compileRows(mainRows);\n\n// Supplementary data\nresult.adgroups = compileSupplementary(adgroupRows, 'adgroup_name');\nresult.keywords = compileSupplementary(keywordRows, 'keyword');\n\nreturn [{ json: { period: PERIOD, brand: 'MM', ...result } }];"
      },
      "id": "c9b9a121-dd42-4aba-9c0b-567726ddd503",
      "name": "Compile: yesterday",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -160
      ]
    },
    {
      "parameters": {
        "jsCode": "/***\n * Compile Period: day_before_yesterday\n * Handles campaign, adgroup, and keyword rows from merged input.\n ***/\nconst PERIOD = 'day_before_yesterday';\nconst rows = $input.all().map(i => i.json || {});\n\nfunction toNum(v) {\n  if (v == null || v === '') return 0;\n  const n = Number(String(v).replace(/,/g,'.').replace(/[^0-9.\\-]/g,''));\n  return Number.isFinite(n) ? n : 0;\n}\nfunction normChannel(v) {\n  const s = String(v || '').toUpperCase().replace(/[_\\s]/g,' ').trim();\n  if (s.includes('SEARCH')) return 'SEARCH';\n  if (s.includes('PERFORMANCE') || s.includes('PMAX') || s.includes('MAX')) return 'PERFORMANCE MAX';\n  return s || 'OTHER';\n}\nconst safeDiv = (n, d) => (d && Number.isFinite(n) && Number.isFinite(d)) ? n/d : 0;\n\n// \u2500\u2500 Level detection \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst isCampaign = r => !('adgroup_id' in r);\nconst isAdgroup  = r => 'adgroup_id' in r && !('keyword' in r);\nconst isKeyword  = r => 'keyword' in r;\n\nconst campaignRows = rows.filter(isCampaign);\nconst adgroupRows  = rows.filter(isAdgroup);\nconst keywordRows  = rows.filter(isKeyword);\n\nfunction compileSupplementary(sRows, nameField) {\n  if (!sRows.length) return { total_rows: 0, has_names: false, by_name: {} };\n  const byName = {};\n  for (const r of sRows) {\n    const raw = r[nameField];\n    const ok  = raw != null && String(raw).trim() !== '' && String(raw).toLowerCase() !== 'nan';\n    const key = ok ? String(raw).trim() : '__unknown__';\n    if (!byName[key]) byName[key] = { rows: 0, imp: 0, clk: 0, spend: 0, conv: 0, value: 0 };\n    byName[key].rows++;\n    byName[key].imp   += toNum(r.impressions);\n    byName[key].clk   += toNum(r.clicks);\n    byName[key].spend += toNum(r.cost);\n    byName[key].conv  += toNum(r.conversions);\n    byName[key].value += toNum(r.conv_value);\n  }\n  return {\n    total_rows: sRows.length,\n    has_names: Object.keys(byName).some(k => k !== '__unknown__'),\n    by_name: byName\n  };\n}\n\n// \u2500\u2500 Campaign-level compile \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction compileRows(mainRows) {\n  const byId = {};\n  for (const r of mainRows) {\n    const id   = String(r.campaign_id   || '').trim();\n    const name = String(r.campaign_name || '').trim();\n    const ch   = normChannel(r.channel  || '');\n    if (!id && !name) continue;\n    const key = id || name;\n    if (!byId[key]) byId[key] = {id, name, channel:ch, imp:0, clk:0, spend:0, conv:0, value:0};\n    byId[key].imp   += toNum(r.impressions);\n    byId[key].clk   += toNum(r.clicks);\n    byId[key].spend += toNum(r.cost);\n    byId[key].conv  += toNum(r.conversions);\n    byId[key].value += toNum(r.conv_value);\n  }\n  const campaigns = Object.values(byId).map(c => ({\n    ...c,\n    ctr:  safeDiv(c.clk,   c.imp),\n    cpc:  safeDiv(c.spend, c.clk),\n    cvr:  safeDiv(c.conv,  c.clk),\n    roas: safeDiv(c.value, c.spend),\n  }));\n  const totals = {imp:0, clicks:0, spend:0, conv:0, value:0};\n  for (const c of campaigns) {\n    totals.imp    += c.imp;\n    totals.clicks += c.clk;\n    totals.spend  += c.spend;\n    totals.conv   += c.conv;\n    totals.value  += c.value;\n  }\n  totals.ctr  = safeDiv(totals.clicks, totals.imp);\n  totals.cpc  = safeDiv(totals.spend,  totals.clicks);\n  totals.cvr  = safeDiv(totals.conv,   totals.clicks);\n  totals.roas = safeDiv(totals.value,  totals.spend);\n  const byChannel = {};\n  for (const c of campaigns) {\n    const ch = c.channel;\n    if (!byChannel[ch]) byChannel[ch] = {imp:0, clicks:0, spend:0, conv:0, value:0};\n    byChannel[ch].imp    += c.imp;\n    byChannel[ch].clicks += c.clk;\n    byChannel[ch].spend  += c.spend;\n    byChannel[ch].conv   += c.conv;\n    byChannel[ch].value  += c.value;\n  }\n  for (const b of Object.values(byChannel)) {\n    b.ctr  = safeDiv(b.clicks, b.imp);\n    b.cpc  = safeDiv(b.spend,  b.clicks);\n    b.roas = safeDiv(b.value,  b.spend);\n  }\n  const ranked = campaigns.filter(c => c.spend >= 10).sort((a,b) => b.roas - a.roas);\n  return { totals, by_channel: byChannel, campaigns,\n            top3_labels: ranked.slice(0,3).map(c=>c.name),\n            bottom3_labels: ranked.slice(-3).map(c=>c.name).reverse() };\n}\n\n// Use campaign rows for financials; fall back to all rows if no campaign rows detected\nconst mainRows = campaignRows.length > 0 ? campaignRows : rows;\nconst result   = compileRows(mainRows);\n\n// Supplementary data\nresult.adgroups = compileSupplementary(adgroupRows, 'adgroup_name');\nresult.keywords = compileSupplementary(keywordRows, 'keyword');\n\nreturn [{ json: { period: PERIOD, brand: 'MM', ...result } }];"
      },
      "id": "c7c6f517-9750-41fa-9156-ed0940b37c85",
      "name": "Compile: day_before_yesterday",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "/***\n * Compile Period: last_week_baseline\n * Handles campaign, adgroup, and keyword rows from merged input.\n ***/\nconst PERIOD = 'last_week_baseline';\nconst rows = $input.all().map(i => i.json || {});\n\nfunction toNum(v) {\n  if (v == null || v === '') return 0;\n  const n = Number(String(v).replace(/,/g,'.').replace(/[^0-9.\\-]/g,''));\n  return Number.isFinite(n) ? n : 0;\n}\nfunction normChannel(v) {\n  const s = String(v || '').toUpperCase().replace(/[_\\s]/g,' ').trim();\n  if (s.includes('SEARCH')) return 'SEARCH';\n  if (s.includes('PERFORMANCE') || s.includes('PMAX') || s.includes('MAX')) return 'PERFORMANCE MAX';\n  return s || 'OTHER';\n}\nconst safeDiv = (n, d) => (d && Number.isFinite(n) && Number.isFinite(d)) ? n/d : 0;\n\n// \u2500\u2500 Level detection \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst isCampaign = r => !('adgroup_id' in r);\nconst isAdgroup  = r => 'adgroup_id' in r && !('keyword' in r);\nconst isKeyword  = r => 'keyword' in r;\n\nconst campaignRows = rows.filter(isCampaign);\nconst adgroupRows  = rows.filter(isAdgroup);\nconst keywordRows  = rows.filter(isKeyword);\n\nfunction compileSupplementary(sRows, nameField) {\n  if (!sRows.length) return { total_rows: 0, has_names: false, by_name: {} };\n  const byName = {};\n  for (const r of sRows) {\n    const raw = r[nameField];\n    const ok  = raw != null && String(raw).trim() !== '' && String(raw).toLowerCase() !== 'nan';\n    const key = ok ? String(raw).trim() : '__unknown__';\n    if (!byName[key]) byName[key] = { rows: 0, imp: 0, clk: 0, spend: 0, conv: 0, value: 0 };\n    byName[key].rows++;\n    byName[key].imp   += toNum(r.impressions);\n    byName[key].clk   += toNum(r.clicks);\n    byName[key].spend += toNum(r.cost);\n    byName[key].conv  += toNum(r.conversions);\n    byName[key].value += toNum(r.conv_value);\n  }\n  return {\n    total_rows: sRows.length,\n    has_names: Object.keys(byName).some(k => k !== '__unknown__'),\n    by_name: byName\n  };\n}\n\n// \u2500\u2500 Campaign-level compile \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction compileRows(mainRows) {\n  const byId = {};\n  for (const r of mainRows) {\n    const id   = String(r.campaign_id   || '').trim();\n    const name = String(r.campaign_name || '').trim();\n    const ch   = normChannel(r.channel  || '');\n    if (!id && !name) continue;\n    const key = id || name;\n    if (!byId[key]) byId[key] = {id, name, channel:ch, imp:0, clk:0, spend:0, conv:0, value:0};\n    byId[key].imp   += toNum(r.impressions);\n    byId[key].clk   += toNum(r.clicks);\n    byId[key].spend += toNum(r.cost);\n    byId[key].conv  += toNum(r.conversions);\n    byId[key].value += toNum(r.conv_value);\n  }\n  const campaigns = Object.values(byId).map(c => ({\n    ...c,\n    ctr:  safeDiv(c.clk,   c.imp),\n    cpc:  safeDiv(c.spend, c.clk),\n    cvr:  safeDiv(c.conv,  c.clk),\n    roas: safeDiv(c.value, c.spend),\n  }));\n  const totals = {imp:0, clicks:0, spend:0, conv:0, value:0};\n  for (const c of campaigns) {\n    totals.imp    += c.imp;\n    totals.clicks += c.clk;\n    totals.spend  += c.spend;\n    totals.conv   += c.conv;\n    totals.value  += c.value;\n  }\n  totals.ctr  = safeDiv(totals.clicks, totals.imp);\n  totals.cpc  = safeDiv(totals.spend,  totals.clicks);\n  totals.cvr  = safeDiv(totals.conv,   totals.clicks);\n  totals.roas = safeDiv(totals.value,  totals.spend);\n  const byChannel = {};\n  for (const c of campaigns) {\n    const ch = c.channel;\n    if (!byChannel[ch]) byChannel[ch] = {imp:0, clicks:0, spend:0, conv:0, value:0};\n    byChannel[ch].imp    += c.imp;\n    byChannel[ch].clicks += c.clk;\n    byChannel[ch].spend  += c.spend;\n    byChannel[ch].conv   += c.conv;\n    byChannel[ch].value  += c.value;\n  }\n  for (const b of Object.values(byChannel)) {\n    b.ctr  = safeDiv(b.clicks, b.imp);\n    b.cpc  = safeDiv(b.spend,  b.clicks);\n    b.roas = safeDiv(b.value,  b.spend);\n  }\n  const ranked = campaigns.filter(c => c.spend >= 10).sort((a,b) => b.roas - a.roas);\n  return { totals, by_channel: byChannel, campaigns,\n            top3_labels: ranked.slice(0,3).map(c=>c.name),\n            bottom3_labels: ranked.slice(-3).map(c=>c.name).reverse() };\n}\n\n// Use campaign rows for financials; fall back to all rows if no campaign rows detected\nconst mainRows = campaignRows.length > 0 ? campaignRows : rows;\nconst result   = compileRows(mainRows);\n\n// Supplementary data\nresult.adgroups = compileSupplementary(adgroupRows, 'adgroup_name');\nresult.keywords = compileSupplementary(keywordRows, 'keyword');\n\nreturn [{ json: { period: PERIOD, brand: 'MM', ...result } }];"
      },
      "id": "9e9d9d7d-64c4-4e37-a2c5-d8eacb72f816",
      "name": "Compile: 7-day baseline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        160
      ]
    },
    {
      "parameters": {},
      "id": "005ec903-02cb-4058-baae-9860d779d98d",
      "name": "Merge: Daily Pair",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        784,
        -80
      ]
    },
    {
      "parameters": {},
      "id": "fe0f8cff-feb5-41de-9160-c7d60f1dc24c",
      "name": "Merge: All Daily",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1040,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "\n/***\n * Detect Anomalies + Prep Daily Payload\n * Thresholds: CPC +25%, CTR -20% vs 7-day avg.\n * Also checks DoD changes and spend pacing.\n ***/\nconst all = $input.all().map(i => i.json);\nconst yesterday = all.find(i => i.period === 'yesterday');\nconst dod       = all.find(i => i.period === 'day_before_yesterday');\nconst avg7d     = all.find(i => i.period === 'last_7_days');\n\nif (!yesterday) throw new Error('Missing yesterday data. Periods received: ' + all.map(i=>i.period).join(', '));\n\nconst safeDiv = (n,d) => (d && Number.isFinite(n) && Number.isFinite(d)) ? n/d : 0;\nconst pctChange = (cur, base) => (base > 0) ? (cur - base) / base : null;\n\nconst CPC_SPIKE  =  0.25;  // +25%\nconst CTR_DROP   = -0.20;  // -20%\nconst ROAS_DROP  = -0.30;  // -30%\nconst MIN_SPEND  = 20;     // min \u20ac20 spend to check campaign-level\nconst anomalies  = [];\n\nconst y = yesterday.totals;\nconst a = avg7d?.totals || {};\n\n// \u2500\u2500 Overall metrics vs 7-day avg \u2500\u2500\nconst checks = [\n  { key:'cpc',   delta: pctChange(y.cpc,  a.cpc),  threshold: CPC_SPIKE,  direction: 'up',   label:'CPC',   unit:'\u20ac' },\n  { key:'ctr',   delta: pctChange(y.ctr,  a.ctr),  threshold: CTR_DROP,   direction: 'down', label:'CTR',   unit:'%' },\n  { key:'roas',  delta: pctChange(y.roas, a.roas),  threshold: ROAS_DROP,  direction: 'down', label:'Campaign efficiency', unit:'' },\n];\n\nfor (const c of checks) {\n  if (c.delta === null) continue;\n  const triggered = c.direction === 'up' ? c.delta > c.threshold : c.delta < c.threshold;\n  if (!triggered) continue;\n  const severity = Math.abs(c.delta) > Math.abs(c.threshold) * 2 ? 'critical' : 'warning';\n  anomalies.push({\n    type: `${c.key.toUpperCase()}_ANOMALY`, severity, scope: 'overall', metric: c.label,\n    yesterday: y[c.key], baseline: a[c.key], change_pct: c.delta,\n    message: `Overall ${c.label} ${c.direction} ${(Math.abs(c.delta)*100).toFixed(1)}% vs 7-day avg`,\n  });\n}\n\n// \u2500\u2500 Spend pacing vs 7-day daily avg \u2500\u2500\nif (a.daily_spend > 0) {\n  const spendDelta = pctChange(y.spend, a.daily_spend);\n  if (spendDelta > 0.5) {\n    anomalies.push({\n      type: 'SPEND_SPIKE', severity: 'warning', scope: 'overall', metric: 'Spend',\n      yesterday: y.spend, baseline: a.daily_spend, change_pct: spendDelta,\n      message: `Daily spend \u20ac${y.spend.toFixed(0)} is ${(spendDelta*100).toFixed(0)}% above 7-day daily avg`,\n    });\n  }\n}\n\n// \u2500\u2500 Per-campaign vs 7-day avg \u2500\u2500\nfor (const camp of (yesterday.campaigns || [])) {\n  if (camp.spend < MIN_SPEND) continue;\n  const c7d = (avg7d?.campaigns || []).find(c => c.id === camp.id || c.name === camp.name);\n  if (!c7d) continue;\n  const cpc\u0394 = pctChange(camp.cpc,  c7d.cpc);\n  const ctr\u0394 = pctChange(camp.ctr,  c7d.ctr);\n  if (cpc\u0394 !== null && cpc\u0394 > CPC_SPIKE)\n    anomalies.push({ type:'CAMPAIGN_CPC', severity:'warning', scope:'campaign', campaign:camp.name,\n      metric:'CPC', change_pct:cpc\u0394, message:`\"${camp.name}\": CPC +${(cpc\u0394*100).toFixed(1)}%` });\n  if (ctr\u0394 !== null && ctr\u0394 < CTR_DROP)\n    anomalies.push({ type:'CAMPAIGN_CTR', severity:'warning', scope:'campaign', campaign:camp.name,\n      metric:'CTR', change_pct:ctr\u0394, message:`\"${camp.name}\": CTR ${(ctr\u0394*100).toFixed(1)}%` });\n}\n\n// \u2500\u2500 DoD comparison \u2500\u2500\nconst dod_changes = {};\nif (dod) {\n  const d = dod.totals;\n  dod_changes.spend  = pctChange(y.spend,  d.spend);\n  dod_changes.clicks = pctChange(y.clicks, d.clicks);\n  dod_changes.conv   = pctChange(y.conv,   d.conv);\n  dod_changes.cpc    = pctChange(y.cpc,    d.cpc);\n  dod_changes.ctr    = pctChange(y.ctr,    d.ctr);\n  dod_changes.roas   = pctChange(y.roas,   d.roas);\n}\n\nconst date = new Date(); date.setDate(date.getDate() - 1);\nreturn [{ json: {\n  brand: 'MM', date: date.toISOString().split('T')[0],\n  yesterday, dod_baseline: dod || null, rolling_7d: avg7d || null,\n  dod_changes, anomalies,\n  has_anomalies: anomalies.length > 0,\n  has_critical: anomalies.some(a => a.severity === 'critical'),\n  anomaly_count: anomalies.length,\n}}];\n"
      },
      "id": "603bf1e9-8a78-4e8d-a04c-cd536e13c72e",
      "name": "Detect Anomalies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are the Paid Performance Analyst for MindMeister (MM) Google Ads.\n\nYour task: Write a brief daily commentary (2\u20133 sentences max) for a morning Slack scan.\n\nINPUT\nJSON with: date, yesterday.totals {spend, clicks, conv, value, ctr, cpc, roas}, rolling_7d.totals {same fields + daily_spend}, dod_changes {spend, clicks, cpc, ctr, roas, conv}, anomalies [], has_anomalies, has_critical, anomaly_count.\n\nOUTPUT RULES\n\u2022 2\u20133 sentences only. Plain text \u2014 no JSON, no bullet symbols, no backticks, no markdown.\n\u2022 If anomalies: name the specific campaign/metric, state the likely cause, give one concrete action.\n\u2022 If no anomalies: note the single most interesting trend (positive or negative) vs 7-day avg with the actual number.\n\u2022 Always reference at least one concrete metric with its value.\n\u2022 End with exactly one next step (\"Check X\" / \"Reduce Y by Z%\" etc.).\n\u2022 Never use the word \"ROAS\" \u2014 say \"campaign efficiency\" instead."
        }
      },
      "id": "280d00d2-d7e5-4750-9959-85826046c131",
      "name": "Daily AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1568,
        0
      ]
    },
    {
      "parameters": {},
      "id": "7c9da57a-2d85-4574-9f70-f1184c929ee4",
      "name": "Merge: AI + Daily Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1824,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "/***\n * Format Daily Slack Blocks \u2014 Compact Quick Look\n * Purpose: Morning scan \u2014 \"is anything on fire?\"\n * Read time: ~15 seconds\n ***/\nconst all  = $input.all().map(i => i.json);\nconst data = all.find(i => i.brand === 'MM' && i.date !== undefined) || all[0];\nconst ai   = (all.find(i => i.output !== undefined) || {}).output || '';\n\nconst y   = data.yesterday?.totals   || {};\nconst a   = data.rolling_7d?.totals  || {};\nconst dod = data.dod_changes          || {};\n\nconst fmtEur  = n => `\u20ac${Number(n||0).toLocaleString('de-DE',{minimumFractionDigits:2,maximumFractionDigits:2})}`;\nconst fmtNum  = n => Number(n||0).toLocaleString('de-DE');\nconst fmtPct  = n => n == null ? 'n/a' : `${n>=0?'+':''}${(n*100).toFixed(1)}%`;\nconst fmtRoas = n => Number(n||0).toFixed(2);\nconst arrow   = n => n == null ? '' : n > 0.005 ? '\u25b2' : n < -0.005 ? '\u25bc' : '\u2192';\n\nconst statusEmoji = data.has_critical ? '\ud83d\udea8' : data.has_anomalies ? '\u26a0\ufe0f' : '\u2705';\nconst statusLabel = data.has_critical ? 'Critical Alert'\n  : data.has_anomalies ? `${data.anomaly_count} Anomal${data.anomaly_count===1?'y':'ies'}`\n  : 'All Clear';\n\nconst dodSpend  = dod.spend;\nconst dodClicks = dod.clicks;\nconst dodRoas   = dod.roas;\nconst dodConv   = dod.conv;\n\nconst blocks = [\n  {\n    type: 'header',\n    text: { type: 'plain_text', text: `${statusEmoji} MM Daily \u2013 ${data.date} \u00b7 ${statusLabel}`, emoji: true }\n  },\n  {\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: `*Spend*\\n${fmtEur(y.spend)}\\n${arrow(dodSpend)} ${fmtPct(dodSpend)} DoD` },\n      { type: 'mrkdwn', text: `*Clicks*\\n${fmtNum(y.clicks)}\\n${arrow(dodClicks)} ${fmtPct(dodClicks)} DoD` },\n      { type: 'mrkdwn', text: `*Efficiency*\\n${fmtRoas(y.roas)}\\n${arrow(dodRoas)} ${fmtPct(dodRoas)} DoD` },\n      { type: 'mrkdwn', text: `*Conversions*\\n${fmtNum(y.conv)}\\n${arrow(dodConv)} ${fmtPct(dodConv)} DoD` },\n    ]\n  },\n];\n\n// vs 7-day context row\nconst cpcDiff  = a.cpc  > 0 ? (y.cpc  - a.cpc)  / a.cpc  : null;\nconst ctrDiff  = a.ctr  > 0 ? (y.ctr  - a.ctr)  / a.ctr  : null;\nconst spndDiff = a.daily_spend > 0 ? (y.spend - a.daily_spend) / a.daily_spend : null;\nblocks.push({\n  type: 'context',\n  elements: [{ type: 'mrkdwn',\n    text: `vs 7-day avg \u2192 CPC: ${fmtEur(y.cpc)} *(${fmtPct(cpcDiff)})*  \u00b7  CTR: ${((y.ctr||0)*100).toFixed(2)}% *(${fmtPct(ctrDiff)})*  \u00b7  Daily spend: *(${fmtPct(spndDiff)})*`\n  }]\n});\n\n// Channel split (compact inline)\nconst chKeys = Object.keys(data.yesterday?.by_channel || {});\nif (chKeys.length > 0) {\n  const chText = chKeys.map(ch => {\n    const b = data.yesterday.by_channel[ch];\n    const label = ch === 'PERFORMANCE_MAX' ? 'PMax' : ch;\n    return `*${label}* ${fmtEur(b.spend)} \u00b7 eff. ${fmtRoas(b.roas)} \u00b7 ${fmtNum(b.clicks)} clicks`;\n  }).join('   |   ');\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: chText } });\n}\n\n// Anomalies (if any)\nif (data.has_anomalies) {\n  const lines = (data.anomalies||[])\n    .map(a => `${a.severity==='critical'?'\ud83d\udea8':'\u26a0\ufe0f'} ${a.message}`)\n    .join('\\n');\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*Anomalies*\\n${lines}` } });\n}\n\n// Claude's brief take\nif (ai) {\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*\ud83d\udcac Quick take*\\n${ai.slice(0,800)}` } });\n}\n\n\n// Data depth note\nconst depthData = data.yesterday;\nif (depthData) {\n  const ag = depthData.adgroups || {};\n  const kw = depthData.keywords || {};\n  const agNote = ag.total_rows > 0\n    ? (ag.has_names ? `${ag.total_rows} rows \u00b7 names available` : `${ag.total_rows} rows \u00b7 names pending in export`)\n    : 'not loaded';\n  const kwNote = kw.total_rows > 0\n    ? (kw.has_names ? `${kw.total_rows} rows \u00b7 names available` : `${kw.total_rows} rows \u00b7 names pending in export`)\n    : 'not loaded';\n  blocks.push({ type: 'divider' });\n  blocks.push({\n    type: 'context',\n    elements: [{ type: 'mrkdwn',\n      text: `_Data depth \u2014 Campaigns: ${depthData.campaigns?.length || 0} \u00b7 Ad groups: ${agNote} \u00b7 Keywords: ${kwNote}_`\n    }]\n  });\n}\n\nblocks.push({\n  type: 'context',\n  elements: [{ type: 'mrkdwn', text: `_MindMeister Paid \u00b7 Daily Monitor \u00b7 ${data.date}_` }]\n});\n\nconst fallback = `${statusEmoji} MM Daily \u2013 ${data.date} \u00b7 ${statusLabel} | Spend ${fmtEur(y.spend)} (${fmtPct(dodSpend)} DoD) | Eff ${fmtRoas(y.roas)}`;\nreturn [{ json: { blocks, blocksStr: JSON.stringify(blocks), text: fallback } }];"
      },
      "id": "08b02484-cded-4941-b583-99b9c9eb876e",
      "name": "Format Daily Blocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        0
      ]
    },
    {
      "id": "d28a4bcb-ce52-48f6-b52d-a444fbbd2af6",
      "name": "Slack: Daily Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2352,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C08NX15CMEJ', text: $json.text, blocks: $json.blocks, unfurl_links: false }) }}",
        "options": {}
      },
      "credentials": {
        "slackApi": {
          "id": "INNGkyGYO6M06N8D",
          "name": "Campaign - Bot connection (Daan)"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2
              ],
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "54634bb6-dc40-420a-8c67-13e75af5f03a",
      "name": "Weekly Trigger (Tue 10 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        800
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": 553316878,
          "mode": "list",
          "cachedResultName": "last_week"
        },
        "options": {}
      },
      "id": "e9afc68a-0ebd-4ef0-a61c-7c075d958630",
      "name": "MM Get last_week",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        272,
        640
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": 1141534196,
          "mode": "list",
          "cachedResultName": "prev_week"
        },
        "options": {}
      },
      "id": "0a728af7-021f-4188-bb98-ad489a064ef8",
      "name": "MM Get prev_week",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        272,
        800
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1u_AiGmpo27x5nGQrhTj91uUez6fYWkhSBjx3k_CIw2I",
          "mode": "list",
          "cachedResultName": "Meister 2025 - Budget planning sheet - Paid Ads"
        },
        "sheetName": {
          "__rl": true,
          "value": 2049606700,
          "mode": "list",
          "cachedResultName": "MM budget sheet 2025"
        },
        "options": {}
      },
      "id": "3327ea68-1114-4b8c-a3f1-2b1ce84662e1",
      "name": "MM Get Budget (current)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        272,
        960
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/***\n * Compile Period: last_week\n * Handles campaign, adgroup, and keyword rows from merged input.\n ***/\nconst PERIOD = 'last_week';\nconst rows = $input.all().map(i => i.json || {});\n\nfunction toNum(v) {\n  if (v == null || v === '') return 0;\n  const n = Number(String(v).replace(/,/g,'.').replace(/[^0-9.\\-]/g,''));\n  return Number.isFinite(n) ? n : 0;\n}\nfunction normChannel(v) {\n  const s = String(v || '').toUpperCase().replace(/[_\\s]/g,' ').trim();\n  if (s.includes('SEARCH')) return 'SEARCH';\n  if (s.includes('PERFORMANCE') || s.includes('PMAX') || s.includes('MAX')) return 'PERFORMANCE MAX';\n  return s || 'OTHER';\n}\nconst safeDiv = (n, d) => (d && Number.isFinite(n) && Number.isFinite(d)) ? n/d : 0;\n\n// \u2500\u2500 Level detection \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst isCampaign = r => !('adgroup_id' in r);\nconst isAdgroup  = r => 'adgroup_id' in r && !('keyword' in r);\nconst isKeyword  = r => 'keyword' in r;\n\nconst campaignRows = rows.filter(isCampaign);\nconst adgroupRows  = rows.filter(isAdgroup);\nconst keywordRows  = rows.filter(isKeyword);\n\nfunction compileSupplementary(sRows, nameField) {\n  if (!sRows.length) return { total_rows: 0, has_names: false, by_name: {} };\n  const byName = {};\n  for (const r of sRows) {\n    const raw = r[nameField];\n    const ok  = raw != null && String(raw).trim() !== '' && String(raw).toLowerCase() !== 'nan';\n    const key = ok ? String(raw).trim() : '__unknown__';\n    if (!byName[key]) byName[key] = { rows: 0, imp: 0, clk: 0, spend: 0, conv: 0, value: 0 };\n    byName[key].rows++;\n    byName[key].imp   += toNum(r.impressions);\n    byName[key].clk   += toNum(r.clicks);\n    byName[key].spend += toNum(r.cost);\n    byName[key].conv  += toNum(r.conversions);\n    byName[key].value += toNum(r.conv_value);\n  }\n  return {\n    total_rows: sRows.length,\n    has_names: Object.keys(byName).some(k => k !== '__unknown__'),\n    by_name: byName\n  };\n}\n\n// \u2500\u2500 Campaign-level compile \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction compileRows(mainRows) {\n  const byId = {};\n  for (const r of mainRows) {\n    const id   = String(r.campaign_id   || '').trim();\n    const name = String(r.campaign_name || '').trim();\n    const ch   = normChannel(r.channel  || '');\n    if (!id && !name) continue;\n    const key = id || name;\n    if (!byId[key]) byId[key] = {id, name, channel:ch, imp:0, clk:0, spend:0, conv:0, value:0};\n    byId[key].imp   += toNum(r.impressions);\n    byId[key].clk   += toNum(r.clicks);\n    byId[key].spend += toNum(r.cost);\n    byId[key].conv  += toNum(r.conversions);\n    byId[key].value += toNum(r.conv_value);\n  }\n  const campaigns = Object.values(byId).map(c => ({\n    ...c,\n    ctr:  safeDiv(c.clk,   c.imp),\n    cpc:  safeDiv(c.spend, c.clk),\n    cvr:  safeDiv(c.conv,  c.clk),\n    roas: safeDiv(c.value, c.spend),\n  }));\n  const totals = {imp:0, clicks:0, spend:0, conv:0, value:0};\n  for (const c of campaigns) {\n    totals.imp    += c.imp;\n    totals.clicks += c.clk;\n    totals.spend  += c.spend;\n    totals.conv   += c.conv;\n    totals.value  += c.value;\n  }\n  totals.ctr  = safeDiv(totals.clicks, totals.imp);\n  totals.cpc  = safeDiv(totals.spend,  totals.clicks);\n  totals.cvr  = safeDiv(totals.conv,   totals.clicks);\n  totals.roas = safeDiv(totals.value,  totals.spend);\n  const byChannel = {};\n  for (const c of campaigns) {\n    const ch = c.channel;\n    if (!byChannel[ch]) byChannel[ch] = {imp:0, clicks:0, spend:0, conv:0, value:0};\n    byChannel[ch].imp    += c.imp;\n    byChannel[ch].clicks += c.clk;\n    byChannel[ch].spend  += c.spend;\n    byChannel[ch].conv   += c.conv;\n    byChannel[ch].value  += c.value;\n  }\n  for (const b of Object.values(byChannel)) {\n    b.ctr  = safeDiv(b.clicks, b.imp);\n    b.cpc  = safeDiv(b.spend,  b.clicks);\n    b.roas = safeDiv(b.value,  b.spend);\n  }\n  const ranked = campaigns.filter(c => c.spend >= 10).sort((a,b) => b.roas - a.roas);\n  return { totals, by_channel: byChannel, campaigns,\n            top3_labels: ranked.slice(0,3).map(c=>c.name),\n            bottom3_labels: ranked.slice(-3).map(c=>c.name).reverse() };\n}\n\n// Use campaign rows for financials; fall back to all rows if no campaign rows detected\nconst mainRows = campaignRows.length > 0 ? campaignRows : rows;\nconst result   = compileRows(mainRows);\n\n// Supplementary data\nresult.adgroups = compileSupplementary(adgroupRows, 'adgroup_name');\nresult.keywords = compileSupplementary(keywordRows, 'keyword');\n\nreturn [{ json: { period: PERIOD, brand: 'MM', ...result } }];"
      },
      "id": "1415448e-2279-419e-9ef1-abbd84deb6d4",
      "name": "Compile: last_week",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        640
      ]
    },
    {
      "parameters": {
        "jsCode": "/***\n * Compile Period: prev_week\n * Handles campaign, adgroup, and keyword rows from merged input.\n ***/\nconst PERIOD = 'prev_week';\nconst rows = $input.all().map(i => i.json || {});\n\nfunction toNum(v) {\n  if (v == null || v === '') return 0;\n  const n = Number(String(v).replace(/,/g,'.').replace(/[^0-9.\\-]/g,''));\n  return Number.isFinite(n) ? n : 0;\n}\nfunction normChannel(v) {\n  const s = String(v || '').toUpperCase().replace(/[_\\s]/g,' ').trim();\n  if (s.includes('SEARCH')) return 'SEARCH';\n  if (s.includes('PERFORMANCE') || s.includes('PMAX') || s.includes('MAX')) return 'PERFORMANCE MAX';\n  return s || 'OTHER';\n}\nconst safeDiv = (n, d) => (d && Number.isFinite(n) && Number.isFinite(d)) ? n/d : 0;\n\n// \u2500\u2500 Level detection \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst isCampaign = r => !('adgroup_id' in r);\nconst isAdgroup  = r => 'adgroup_id' in r && !('keyword' in r);\nconst isKeyword  = r => 'keyword' in r;\n\nconst campaignRows = rows.filter(isCampaign);\nconst adgroupRows  = rows.filter(isAdgroup);\nconst keywordRows  = rows.filter(isKeyword);\n\nfunction compileSupplementary(sRows, nameField) {\n  if (!sRows.length) return { total_rows: 0, has_names: false, by_name: {} };\n  const byName = {};\n  for (const r of sRows) {\n    const raw = r[nameField];\n    const ok  = raw != null && String(raw).trim() !== '' && String(raw).toLowerCase() !== 'nan';\n    const key = ok ? String(raw).trim() : '__unknown__';\n    if (!byName[key]) byName[key] = { rows: 0, imp: 0, clk: 0, spend: 0, conv: 0, value: 0 };\n    byName[key].rows++;\n    byName[key].imp   += toNum(r.impressions);\n    byName[key].clk   += toNum(r.clicks);\n    byName[key].spend += toNum(r.cost);\n    byName[key].conv  += toNum(r.conversions);\n    byName[key].value += toNum(r.conv_value);\n  }\n  return {\n    total_rows: sRows.length,\n    has_names: Object.keys(byName).some(k => k !== '__unknown__'),\n    by_name: byName\n  };\n}\n\n// \u2500\u2500 Campaign-level compile \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction compileRows(mainRows) {\n  const byId = {};\n  for (const r of mainRows) {\n    const id   = String(r.campaign_id   || '').trim();\n    const name = String(r.campaign_name || '').trim();\n    const ch   = normChannel(r.channel  || '');\n    if (!id && !name) continue;\n    const key = id || name;\n    if (!byId[key]) byId[key] = {id, name, channel:ch, imp:0, clk:0, spend:0, conv:0, value:0};\n    byId[key].imp   += toNum(r.impressions);\n    byId[key].clk   += toNum(r.clicks);\n    byId[key].spend += toNum(r.cost);\n    byId[key].conv  += toNum(r.conversions);\n    byId[key].value += toNum(r.conv_value);\n  }\n  const campaigns = Object.values(byId).map(c => ({\n    ...c,\n    ctr:  safeDiv(c.clk,   c.imp),\n    cpc:  safeDiv(c.spend, c.clk),\n    cvr:  safeDiv(c.conv,  c.clk),\n    roas: safeDiv(c.value, c.spend),\n  }));\n  const totals = {imp:0, clicks:0, spend:0, conv:0, value:0};\n  for (const c of campaigns) {\n    totals.imp    += c.imp;\n    totals.clicks += c.clk;\n    totals.spend  += c.spend;\n    totals.conv   += c.conv;\n    totals.value  += c.value;\n  }\n  totals.ctr  = safeDiv(totals.clicks, totals.imp);\n  totals.cpc  = safeDiv(totals.spend,  totals.clicks);\n  totals.cvr  = safeDiv(totals.conv,   totals.clicks);\n  totals.roas = safeDiv(totals.value,  totals.spend);\n  const byChannel = {};\n  for (const c of campaigns) {\n    const ch = c.channel;\n    if (!byChannel[ch]) byChannel[ch] = {imp:0, clicks:0, spend:0, conv:0, value:0};\n    byChannel[ch].imp    += c.imp;\n    byChannel[ch].clicks += c.clk;\n    byChannel[ch].spend  += c.spend;\n    byChannel[ch].conv   += c.conv;\n    byChannel[ch].value  += c.value;\n  }\n  for (const b of Object.values(byChannel)) {\n    b.ctr  = safeDiv(b.clicks, b.imp);\n    b.cpc  = safeDiv(b.spend,  b.clicks);\n    b.roas = safeDiv(b.value,  b.spend);\n  }\n  const ranked = campaigns.filter(c => c.spend >= 10).sort((a,b) => b.roas - a.roas);\n  return { totals, by_channel: byChannel, campaigns,\n            top3_labels: ranked.slice(0,3).map(c=>c.name),\n            bottom3_labels: ranked.slice(-3).map(c=>c.name).reverse() };\n}\n\n// Use campaign rows for financials; fall back to all rows if no campaign rows detected\nconst mainRows = campaignRows.length > 0 ? campaignRows : rows;\nconst result   = compileRows(mainRows);\n\n// Supplementary data\nresult.adgroups = compileSupplementary(adgroupRows, 'adgroup_name');\nresult.keywords = compileSupplementary(keywordRows, 'keyword');\n\nreturn [{ json: { period: PERIOD, brand: 'MM', ...result } }];"
      },
      "id": "a83958e6-a5a8-49d6-bc97-7f120c641ab5",
      "name": "Compile: prev_week",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// MindMeister - Current month budget pacing\nconst BRAND = \"MindMeister\";\nconst MODE = \"current\";\nconst MONTHS = [\"January\",\"February\",\"March\",\"April\",\"May\",\"June\",\"July\",\"August\",\"September\",\"October\",\"November\",\"December\"];\nconst now = new Date();\nconst monthName = MODE === \"last\" ? MONTHS[(now.getMonth()+11)%12] : MONTHS[now.getMonth()];\nconst rows = $input.all().map(i => i.json);\nfunction labelOf(r){ const k=Object.keys(r).find(x=>/^col[\\s_]*1$/i.test(x))||Object.keys(r)[0]; return String(r?.[k]??\"\").trim(); }\nfunction findRow(t){ const w=t===\"sum\"?\"summe\":\"leftover\"; let r=rows.find(r=>labelOf(r).toLowerCase()===w); if(!r) r=rows.find(r=>Number(r.row_number)===(t===\"sum\"?43:44)); return r; }\nfunction toNum(v){ if(typeof v===\"number\") return v; if(v==null||v===\"\") return 0; const s=String(v).trim().replace(/\\s/g,\"\").replace(/[\u20ac]/g,\"\").replace(/\\./g,\"\").replace(/,/g,\".\").replace(/[^\\d.\\-]/g,\"\"); const n=Number(s); return Number.isFinite(n)?n:0; }\nfunction fmtEUR(n){ return `\u20ac${n.toLocaleString(\"de-DE\",{minimumFractionDigits:2,maximumFractionDigits:2})}`; }\nconst rowSum=findRow(\"sum\"), rowLeft=findRow(\"left\");\nconst spend=toNum(rowSum?.[monthName]), leftover=toNum(rowLeft?.[monthName]);\nconst budget=spend+leftover, pct=budget?Number(((spend/budget)*100).toFixed(1)):0;\nreturn [{ json: { source:BRAND, month_name:monthName, total_budget:budget, total_spend:spend, leftover, pct_spent:pct, summary_text:`Total budget: ${fmtEUR(budget)} \u2014 total spend: ${fmtEUR(spend)} (${pct}% used, ${fmtEUR(leftover)} left)` } }];\n"
      },
      "id": "13644b96-5fa3-47fb-94e2-507cce646950",
      "name": "Budget Compile (weekly)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        960
      ]
    },
    {
      "parameters": {},
      "id": "ca0d6054-9af8-4541-b548-3422e7eadb44",
      "name": "Merge: Weekly Pair",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        784,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all().map(i => i.json);\nif (items.length !== 2) throw new Error(`Expected 2 items, got ${items.length}`);\nconst out = { brand: 'MM', last: null, prev: null };\nfor (const it of items) {\n  if (it.period === 'last_week') out.last = it;\n  else if (it.period === 'prev_week') out.prev = it;\n}\nif (!out.last || !out.prev) throw new Error('Could not identify last/prev week items: ' + items.map(i=>i.period).join(', '));\nreturn [{ json: out }];\n"
      },
      "id": "dc411a14-be63-4c7c-adb5-58a67eb12168",
      "name": "Wrap MM Week",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        720
      ]
    },
    {
      "parameters": {},
      "id": "6874598b-97ab-4a81-9857-c04bb2e7d452",
      "name": "Merge: Weekly + Budget",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1312,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "\n/*** Prep Weekly for Agent - MM only ***/\nconst all = $input.all().map(i => i.json);\nconst mmBundle = all.find(i => i.brand === 'MM' && ('last' in i || 'prev' in i));\nconst budget   = all.find(i => i.source === 'MindMeister' || i.pct_spent !== undefined);\nif (!mmBundle) throw new Error('No MM bundle: ' + JSON.stringify(all.map(i => Object.keys(i))));\nconst last = mmBundle.last || {}, prev = mmBundle.prev || {};\nconst pct  = (n, d) => (Number.isFinite(n) && Number.isFinite(d) && d !== 0) ? (n-d)/d : null;\nconst wow  = { spend: pct(last.totals?.spend, prev.totals?.spend),\n               conv:  pct(last.totals?.conv,  prev.totals?.conv),\n               roas:  pct(last.totals?.roas,  prev.totals?.roas),\n               ctr:   pct(last.totals?.ctr,   prev.totals?.ctr),\n               cpc:   pct(last.totals?.cpc,   prev.totals?.cpc),\n               clicks:pct(last.totals?.clicks,prev.totals?.clicks) };\nconst now = new Date(), dayMs = 86400000, mo = (now.getDay()+6)%7;\nconst mon = new Date(now - mo*dayMs), lastMon = new Date(mon - 7*dayMs);\nconst lastSun = new Date(lastMon.getTime() + 6*dayMs);\nconst fmt = d => d.toISOString().split('T')[0];\nreturn [{ json: { weekly_payload: { MM: { last, prev, wow,\n  per_channel: last.by_channel || {},\n  highs_lows: { top3: last.top3_labels||[], bottom3: last.bottom3_labels||[] },\n  budget: budget||null }, meta: { generated_at_iso: new Date().toISOString(),\n  week_label: `${fmt(lastMon)} \u2013 ${fmt(lastSun)}`, brand:'MM', type:'weekly' } } } }];\n"
      },
      "id": "9cf9c96f-a2b6-4a20-8154-2bb95e5d9e02",
      "name": "Prep Weekly for Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        800
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are the Paid Performance Analyst for MindMeister (MM) Google Ads.\n\nYour task: Write a weekly alignment commentary for a team Slack report.\n\nINPUT\n{ weekly_payload: { MM: { last, prev, wow, per_channel, highs_lows, budget }, meta } }\n- last/prev.totals: { spend, clicks, conv, value, ctr, cpc, roas }\n- wow: decimal fractions (0.12 = +12%)\n- meta.week_label: human-readable week range\n\nOUTPUT RULES\n\u2022 150\u2013200 words. Plain text only \u2014 no JSON, no bullet symbols, no backticks, no markdown formatting.\n\u2022 Structure (follow this order):\n  (1) 1-2 sentence headline: the dominant story of the week in numbers\n  (2) 1-2 sentences on channel performance: which drove results, where there is drag\n  (3) Exactly 2 numbered recommendations \u2014 each MUST: name a specific campaign, cite the exact data point, state the action and expected impact (e.g. \"1. Reduce budget on DACH_de_PRICES by 15% \u2014 CPC is up 28% WoW at \u20ac0.42 with flat conversion rate, suggesting keyword auction pressure.\")\n\u2022 Format money as \u20acX,XXX. Round WoW % to whole numbers. Efficiency to 2 decimals.\n\u2022 Never use the word \"ROAS\" \u2014 say \"campaign efficiency\" instead.\n\u2022 Recommendations must be specific enough to act on without further context."
        }
      },
      "id": "09572f4c-4fc0-4344-87e3-bfed676e5dd0",
      "name": "Weekly AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1824,
        800
      ]
    },
    {
      "parameters": {},
      "id": "1cd2763d-9bf3-4927-a1d7-8ab07d30a70d",
      "name": "Merge: AI + Weekly Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2080,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "/***\n * Format Weekly Slack Blocks \u2014 Team Alignment Overview\n * Purpose: What changed and what to act on this week\n * Read time: 2-3 minutes\n ***/\nconst all     = $input.all().map(i => i.json);\nconst data    = all.find(i => i.weekly_payload !== undefined) || all[0];\nconst ai      = (all.find(i => i.output !== undefined) || {}).output || '';\nconst payload = data.weekly_payload || {};\nconst mm      = payload.MM || {};\nconst meta    = payload.meta || {};\n\nconst last   = mm.last?.totals    || {};\nconst prev   = mm.prev?.totals    || {};\nconst wow    = mm.wow             || {};\nconst budget = mm.budget           || {};\nconst ch     = mm.last?.by_channel || {};\n\nconst fmtEur  = n => `\u20ac${Number(n||0).toLocaleString('de-DE',{minimumFractionDigits:2,maximumFractionDigits:2})}`;\nconst fmtNum  = n => Number(n||0).toLocaleString('de-DE');\nconst fmtRoas = n => Number(n||0).toFixed(2);\nconst fmtWow  = n => n==null ? 'n/a' : `${n>=0?'+':''}${(n*100).toFixed(0)}%`;\nconst arrow   = n => n == null ? '' : n > 0.005 ? '\u25b2' : n < -0.005 ? '\u25bc' : '\u2192';\n\n// WoW comparison table\nconst rows = [\n  ['Spend',       fmtEur(last.spend),                   fmtEur(prev.spend),                   `${arrow(wow.spend)} ${fmtWow(wow.spend)}`],\n  ['Clicks',      fmtNum(last.clicks),                  fmtNum(prev.clicks),                  `${arrow(wow.clicks)} ${fmtWow(wow.clicks)}`],\n  ['Conversions', fmtNum(last.conv),                    fmtNum(prev.conv),                    `${arrow(wow.conv)} ${fmtWow(wow.conv)}`],\n  ['Efficiency',  fmtRoas(last.roas),                   fmtRoas(prev.roas),                   `${arrow(wow.roas)} ${fmtWow(wow.roas)}`],\n  ['CPC',         fmtEur(last.cpc),                     fmtEur(prev.cpc),                     `${arrow(wow.cpc)} ${fmtWow(wow.cpc)}`],\n  ['CTR',         `${((last.ctr||0)*100).toFixed(2)}%`, `${((prev.ctr||0)*100).toFixed(2)}%`, `${arrow(wow.ctr)} ${fmtWow(wow.ctr)}`],\n];\nconst col = (s, w) => s.padEnd ? s.padEnd(w) : String(s).padEnd(w);\nconst tableLines = [\n  `${col('Metric',13)}| ${col('Last week',18)}| ${col('Prev week',18)}| WoW`,\n  '\u2500'.repeat(60),\n  ...rows.map(([m,l,p,w]) => `${col(m,13)}| ${col(l,18)}| ${col(p,18)}| ${w}`)\n].join('\\n');\n\nconst blocks = [\n  { type: 'header', text: { type: 'plain_text', text: `\ud83d\udcca MM Weekly \u2013 ${meta.week_label || 'Last Week'}`, emoji: true } },\n  { type: 'section', text: { type: 'mrkdwn', text: `\\`\\`\\`${tableLines}\\`\\`\\`` } },\n];\n\n// Budget pacing bar\nif (budget.total_budget > 0) {\n  const pct = Math.round(budget.pct_spent || 0);\n  const filled = Math.min(10, Math.round(pct / 10));\n  const bar = '\u2588'.repeat(filled) + '\u2591'.repeat(10 - filled);\n  blocks.push({\n    type: 'section',\n    text: { type: 'mrkdwn',\n      text: `*Budget pacing* \\`${bar}\\` ${pct}%\\n${fmtEur(budget.total_spend)} spent \u00b7 ${fmtEur(budget.total_budget)} budget \u00b7 ${fmtEur(budget.leftover)} remaining`\n    }\n  });\n}\n\n// Channel breakdown\nconst chKeys = Object.keys(ch);\nif (chKeys.length > 0) {\n  const chFields = chKeys.map(k => {\n    const b = ch[k];\n    const label = k === 'PERFORMANCE_MAX' ? 'PMax' : k;\n    const share = last.spend > 0 ? ((b.spend / last.spend) * 100).toFixed(0) : 0;\n    return {\n      type: 'mrkdwn',\n      text: `*${label}* (${share}% of spend)\\n${fmtEur(b.spend)} \u00b7 eff. ${fmtRoas(b.roas)}\\n${fmtNum(b.clicks)} clicks \u00b7 ${fmtNum(b.conv)} conv`\n    };\n  });\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: '*Channel breakdown*' }, fields: chFields });\n}\n\n// Top / Bottom campaigns\nconst top3    = mm.last?.top3_labels    || [];\nconst bottom3 = mm.last?.bottom3_labels || [];\nif (top3.length || bottom3.length) {\n  blocks.push({ type: 'divider' });\n  blocks.push({\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: `*\ud83c\udfc6 Top (efficiency)*\\n${top3.map((n,i)=>`${i+1}. ${n}`).join('\\n') || 'n/a'}` },\n      { type: 'mrkdwn', text: `*\u26a0\ufe0f Watch list*\\n${bottom3.map((n,i)=>`${i+1}. ${n}`).join('\\n') || 'n/a'}` },\n    ]\n  });\n}\n\n// AI recommendations (2 numbered actions)\nif (ai) {\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*\ud83d\udca1 Recommendations*\\n${ai.slice(0,2000)}` } });\n}\n\nblocks.push({ type: 'divider' });\n\n// Data depth note\nconst depthData = mm.last;\nif (depthData) {\n  const ag = depthData.adgroups || {};\n  const kw = depthData.keywords || {};\n  const agNote = ag.total_rows > 0\n    ? (ag.has_names ? `${ag.total_rows} rows \u00b7 names available` : `${ag.total_rows} rows \u00b7 names pending in export`)\n    : 'not loaded';\n  const kwNote = kw.total_rows > 0\n    ? (kw.has_names ? `${kw.total_rows} rows \u00b7 names available` : `${kw.total_rows} rows \u00b7 names pending in export`)\n    : 'not loaded';\n  blocks.push({ type: 'divider' });\n  blocks.push({\n    type: 'context',\n    elements: [{ type: 'mrkdwn',\n      text: `_Data depth \u2014 Campaigns: ${depthData.campaigns?.length || 0} \u00b7 Ad groups: ${agNote} \u00b7 Keywords: ${kwNote}_`\n    }]\n  });\n}\n\nblocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: `_MindMeister Paid \u00b7 Weekly Report \u00b7 ${meta.week_label || ''}_` }] });\n\nconst fallback = `\ud83d\udcca MM Weekly \u2013 ${meta.week_label || 'Last Week'} | Spend: ${fmtEur(last.spend)} (${fmtWow(wow.spend)} WoW) | Eff: ${fmtRoas(last.roas)} (${fmtWow(wow.roas)})`;\nreturn [{ json: { blocks, blocksStr: JSON.stringify(blocks), text: fallback } }];"
      },
      "id": "41536ec0-55f5-44da-9a23-f223122da120",
      "name": "Format Weekly Blocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        800
      ]
    },
    {
      "id": "824e83a2-838d-442e-9202-cb59681865cd",
      "name": "Slack: Weekly Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        800
      ],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C08NX15CMEJ', text: $json.text, blocks: $json.blocks, unfurl_links: false }) }}",
        "options": {}
      },
      "credentials": {
        "slackApi": {
          "id": "INNGkyGYO6M06N8D",
          "name": "Campaign - Bot connection (Daan)"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "cd4e3d4e-bb5c-4d37-a8f6-9272b637a209",
      "name": "Monthly Trigger (1st 10 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        1600
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": 1273019138,
          "mode": "list",
          "cachedResultName": "last_month"
        },
        "options": {}
      },
      "id": "0618d82f-2cba-4c3b-9836-99204558d97e",
      "name": "MM Get last_month",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        272,
        1440
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": 1049369837,
          "mode": "list",
          "cachedResultName": "prev_month"
        },
        "options": {}
      },
      "id": "9cf7af61-d8e5-4e28-bb56-098ba8325491",
      "name": "MM Get prev_month",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        272,
        1600
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1u_AiGmpo27x5nGQrhTj91uUez6fYWkhSBjx3k_CIw2I",
          "mode": "list",
          "cachedResultName": "Meister 2025 - Budget planning sheet - Paid Ads"
        },
        "sheetName": {
          "__rl": true,
          "value": 2049606700,
          "mode": "list",
          "cachedResultName": "MM budget sheet 2025"
        },
        "options": {}
      },
      "id": "9000f1e6-f184-4e15-ba55-75da2e0135ee",
      "name": "MM Get Budget (last month)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        272,
        1760
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/***\n * Compile Period: last_month\n * Handles campaign, adgroup, and keyword rows from merged input.\n ***/\nconst PERIOD = 'last_month';\nconst rows = $input.all().map(i => i.json || {});\n\nfunction toNum(v) {\n  if (v == null || v === '') return 0;\n  const n = Number(String(v).replace(/,/g,'.').replace(/[^0-9.\\-]/g,''));\n  return Number.isFinite(n) ? n : 0;\n}\nfunction normChannel(v) {\n  const s = String(v || '').toUpperCase().replace(/[_\\s]/g,' ').trim();\n  if (s.includes('SEARCH')) return 'SEARCH';\n  if (s.includes('PERFORMANCE') || s.includes('PMAX') || s.includes('MAX')) return 'PERFORMANCE MAX';\n  return s || 'OTHER';\n}\nconst safeDiv = (n, d) => (d && Number.isFinite(n) && Number.isFinite(d)) ? n/d : 0;\n\n// \u2500\u2500 Level detection \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst isCampaign = r => !('adgroup_id' in r);\nconst isAdgroup  = r => 'adgroup_id' in r && !('keyword' in r);\nconst isKeyword  = r => 'keyword' in r;\n\nconst campaignRows = rows.filter(isCampaign);\nconst adgroupRows  = rows.filter(isAdgroup);\nconst keywordRows  = rows.filter(isKeyword);\n\nfunction compileSupplementary(sRows, nameField) {\n  if (!sRows.length) return { total_rows: 0, has_names: false, by_name: {} };\n  const byName = {};\n  for (const r of sRows) {\n    const raw = r[nameField];\n    const ok  = raw != null && String(raw).trim() !== '' && String(raw).toLowerCase() !== 'nan';\n    const key = ok ? String(raw).trim() : '__unknown__';\n    if (!byName[key]) byName[key] = { rows: 0, imp: 0, clk: 0, spend: 0, conv: 0, value: 0 };\n    byName[key].rows++;\n    byName[key].imp   += toNum(r.impressions);\n    byName[key].clk   += toNum(r.clicks);\n    byName[key].spend += toNum(r.cost);\n    byName[key].conv  += toNum(r.conversions);\n    byName[key].value += toNum(r.conv_value);\n  }\n  return {\n    total_rows: sRows.length,\n    has_names: Object.keys(byName).some(k => k !== '__unknown__'),\n    by_name: byName\n  };\n}\n\n// \u2500\u2500 Campaign-level compile \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction compileRows(mainRows) {\n  const byId = {};\n  for (const r of mainRows) {\n    const id   = String(r.campaign_id   || '').trim();\n    const name = String(r.campaign_name || '').trim();\n    const ch   = normChannel(r.channel  || '');\n    if (!id && !name) continue;\n    const key = id || name;\n    if (!byId[key]) byId[key] = {id, name, channel:ch, imp:0, clk:0, spend:0, conv:0, value:0};\n    byId[key].imp   += toNum(r.impressions);\n    byId[key].clk   += toNum(r.clicks);\n    byId[key].spend += toNum(r.cost);\n    byId[key].conv  += toNum(r.conversions);\n    byId[key].value += toNum(r.conv_value);\n  }\n  const campaigns = Object.values(byId).map(c => ({\n    ...c,\n    ctr:  safeDiv(c.clk,   c.imp),\n    cpc:  safeDiv(c.spend, c.clk),\n    cvr:  safeDiv(c.conv,  c.clk),\n    roas: safeDiv(c.value, c.spend),\n  }));\n  const totals = {imp:0, clicks:0, spend:0, conv:0, value:0};\n  for (const c of campaigns) {\n    totals.imp    += c.imp;\n    totals.clicks += c.clk;\n    totals.spend  += c.spend;\n    totals.conv   += c.conv;\n    totals.value  += c.value;\n  }\n  totals.ctr  = safeDiv(totals.clicks, totals.imp);\n  totals.cpc  = safeDiv(totals.spend,  totals.clicks);\n  totals.cvr  = safeDiv(totals.conv,   totals.clicks);\n  totals.roas = safeDiv(totals.value,  totals.spend);\n  const byChannel = {};\n  for (const c of campaigns) {\n    const ch = c.channel;\n    if (!byChannel[ch]) byChannel[ch] = {imp:0, clicks:0, spend:0, conv:0, value:0};\n    byChannel[ch].imp    += c.imp;\n    byChannel[ch].clicks += c.clk;\n    byChannel[ch].spend  += c.spend;\n    byChannel[ch].conv   += c.conv;\n    byChannel[ch].value  += c.value;\n  }\n  for (const b of Object.values(byChannel)) {\n    b.ctr  = safeDiv(b.clicks, b.imp);\n    b.cpc  = safeDiv(b.spend,  b.clicks);\n    b.roas = safeDiv(b.value,  b.spend);\n  }\n  const ranked = campaigns.filter(c => c.spend >= 10).sort((a,b) => b.roas - a.roas);\n  return { totals, by_channel: byChannel, campaigns,\n            top3_labels: ranked.slice(0,3).map(c=>c.name),\n            bottom3_labels: ranked.slice(-3).map(c=>c.name).reverse() };\n}\n\n// Use campaign rows for financials; fall back to all rows if no campaign rows detected\nconst mainRows = campaignRows.length > 0 ? campaignRows : rows;\nconst result   = compileRows(mainRows);\n\n// Supplementary data\nresult.adgroups = compileSupplementary(adgroupRows, 'adgroup_name');\nresult.keywords = compileSupplementary(keywordRows, 'keyword');\n\nreturn [{ json: { period: PERIOD, brand: 'MM', ...result } }];"
      },
      "id": "a0c42e3d-de65-4899-9292-590165f4402e",
      "name": "Compile: last_month",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        1440
      ]
    },
    {
      "parameters": {
        "jsCode": "/***\n * Compile Period: prev_month\n * Handles campaign, adgroup, and keyword rows from merged input.\n ***/\nconst PERIOD = 'prev_month';\nconst rows = $input.all().map(i => i.json || {});\n\nfunction toNum(v) {\n  if (v == null || v === '') return 0;\n  const n = Number(String(v).replace(/,/g,'.').replace(/[^0-9.\\-]/g,''));\n  return Number.isFinite(n) ? n : 0;\n}\nfunction normChannel(v) {\n  const s = String(v || '').toUpperCase().replace(/[_\\s]/g,' ').trim();\n  if (s.includes('SEARCH')) return 'SEARCH';\n  if (s.includes('PERFORMANCE') || s.includes('PMAX') || s.includes('MAX')) return 'PERFORMANCE MAX';\n  return s || 'OTHER';\n}\nconst safeDiv = (n, d) => (d && Number.isFinite(n) && Number.isFinite(d)) ? n/d : 0;\n\n// \u2500\u2500 Level detection \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nconst isCampaign = r => !('adgroup_id' in r);\nconst isAdgroup  = r => 'adgroup_id' in r && !('keyword' in r);\nconst isKeyword  = r => 'keyword' in r;\n\nconst campaignRows = rows.filter(isCampaign);\nconst adgroupRows  = rows.filter(isAdgroup);\nconst keywordRows  = rows.filter(isKeyword);\n\nfunction compileSupplementary(sRows, nameField) {\n  if (!sRows.length) return { total_rows: 0, has_names: false, by_name: {} };\n  const byName = {};\n  for (const r of sRows) {\n    const raw = r[nameField];\n    const ok  = raw != null && String(raw).trim() !== '' && String(raw).toLowerCase() !== 'nan';\n    const key = ok ? String(raw).trim() : '__unknown__';\n    if (!byName[key]) byName[key] = { rows: 0, imp: 0, clk: 0, spend: 0, conv: 0, value: 0 };\n    byName[key].rows++;\n    byName[key].imp   += toNum(r.impressions);\n    byName[key].clk   += toNum(r.clicks);\n    byName[key].spend += toNum(r.cost);\n    byName[key].conv  += toNum(r.conversions);\n    byName[key].value += toNum(r.conv_value);\n  }\n  return {\n    total_rows: sRows.length,\n    has_names: Object.keys(byName).some(k => k !== '__unknown__'),\n    by_name: byName\n  };\n}\n\n// \u2500\u2500 Campaign-level compile \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nfunction compileRows(mainRows) {\n  const byId = {};\n  for (const r of mainRows) {\n    const id   = String(r.campaign_id   || '').trim();\n    const name = String(r.campaign_name || '').trim();\n    const ch   = normChannel(r.channel  || '');\n    if (!id && !name) continue;\n    const key = id || name;\n    if (!byId[key]) byId[key] = {id, name, channel:ch, imp:0, clk:0, spend:0, conv:0, value:0};\n    byId[key].imp   += toNum(r.impressions);\n    byId[key].clk   += toNum(r.clicks);\n    byId[key].spend += toNum(r.cost);\n    byId[key].conv  += toNum(r.conversions);\n    byId[key].value += toNum(r.conv_value);\n  }\n  const campaigns = Object.values(byId).map(c => ({\n    ...c,\n    ctr:  safeDiv(c.clk,   c.imp),\n    cpc:  safeDiv(c.spend, c.clk),\n    cvr:  safeDiv(c.conv,  c.clk),\n    roas: safeDiv(c.value, c.spend),\n  }));\n  const totals = {imp:0, clicks:0, spend:0, conv:0, value:0};\n  for (const c of campaigns) {\n    totals.imp    += c.imp;\n    totals.clicks += c.clk;\n    totals.spend  += c.spend;\n    totals.conv   += c.conv;\n    totals.value  += c.value;\n  }\n  totals.ctr  = safeDiv(totals.clicks, totals.imp);\n  totals.cpc  = safeDiv(totals.spend,  totals.clicks);\n  totals.cvr  = safeDiv(totals.conv,   totals.clicks);\n  totals.roas = safeDiv(totals.value,  totals.spend);\n  const byChannel = {};\n  for (const c of campaigns) {\n    const ch = c.channel;\n    if (!byChannel[ch]) byChannel[ch] = {imp:0, clicks:0, spend:0, conv:0, value:0};\n    byChannel[ch].imp    += c.imp;\n    byChannel[ch].clicks += c.clk;\n    byChannel[ch].spend  += c.spend;\n    byChannel[ch].conv   += c.conv;\n    byChannel[ch].value  += c.value;\n  }\n  for (const b of Object.values(byChannel)) {\n    b.ctr  = safeDiv(b.clicks, b.imp);\n    b.cpc  = safeDiv(b.spend,  b.clicks);\n    b.roas = safeDiv(b.value,  b.spend);\n  }\n  const ranked = campaigns.filter(c => c.spend >= 10).sort((a,b) => b.roas - a.roas);\n  return { totals, by_channel: byChannel, campaigns,\n            top3_labels: ranked.slice(0,3).map(c=>c.name),\n            bottom3_labels: ranked.slice(-3).map(c=>c.name).reverse() };\n}\n\n// Use campaign rows for financials; fall back to all rows if no campaign rows detected\nconst mainRows = campaignRows.length > 0 ? campaignRows : rows;\nconst result   = compileRows(mainRows);\n\n// Supplementary data\nresult.adgroups = compileSupplementary(adgroupRows, 'adgroup_name');\nresult.keywords = compileSupplementary(keywordRows, 'keyword');\n\nreturn [{ json: { period: PERIOD, brand: 'MM', ...result } }];"
      },
      "id": "6f9b991c-382c-46e3-b1ff-7cab4ec6f312",
      "name": "Compile: prev_month",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// MindMeister - Last month budget\nconst BRAND = \"MindMeister\";\nconst MODE = \"last\";\nconst MONTHS = [\"January\",\"February\",\"March\",\"April\",\"May\",\"June\",\"July\",\"August\",\"September\",\"October\",\"November\",\"December\"];\nconst now = new Date();\nconst monthName = MODE === \"last\" ? MONTHS[(now.getMonth()+11)%12] : MONTHS[now.getMonth()];\nconst rows = $input.all().map(i => i.json);\nfunction labelOf(r){ const k=Object.keys(r).find(x=>/^col[\\s_]*1$/i.test(x))||Object.keys(r)[0]; return String(r?.[k]??\"\").trim(); }\nfunction findRow(t){ const w=t===\"sum\"?\"summe\":\"leftover\"; let r=rows.find(r=>labelOf(r).toLowerCase()===w); if(!r) r=rows.find(r=>Number(r.row_number)===(t===\"sum\"?43:44)); return r; }\nfunction toNum(v){ if(typeof v===\"number\") return v; if(v==null||v===\"\") return 0; const s=String(v).trim().replace(/\\s/g,\"\").replace(/[\u20ac]/g,\"\").replace(/\\./g,\"\").replace(/,/g,\".\").replace(/[^\\d.\\-]/g,\"\"); const n=Number(s); return Number.isFinite(n)?n:0; }\nfunction fmtEUR(n){ return `\u20ac${n.toLocaleString(\"de-DE\",{minimumFractionDigits:2,maximumFractionDigits:2})}`; }\nconst rowSum=findRow(\"sum\"), rowLeft=findRow(\"left\");\nconst spend=toNum(rowSum?.[monthName]), leftover=toNum(rowLeft?.[monthName]);\nconst budget=spend+leftover, pct=budget?Number(((spend/budget)*100).toFixed(1)):0;\nreturn [{ json: { source:BRAND, month_name:monthName, total_budget:budget, total_spend:spend, leftover, pct_spent:pct, summary_text:`Total budget: ${fmtEUR(budget)} \u2014 total spend: ${fmtEUR(spend)} (${pct}% used, ${fmtEUR(leftover)} left)` } }];\n"
      },
      "id": "9a8e5350-94de-4f43-909e-742a87dcc47c",
      "name": "Budget Compile (monthly)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        1760
      ]
    },
    {
      "parameters": {},
      "id": "e23040a2-96bd-4910-9fec-5bb6bcda6c6f",
      "name": "Merge: Monthly Pair",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        784,
        1520
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all().map(i => i.json);\nif (items.length !== 2) throw new Error(`Expected 2 items, got ${items.length}`);\nconst out = { brand: 'MM', last: null, prev: null };\nfor (const it of items) {\n  if (it.period === 'last_month') out.last = it;\n  else if (it.period === 'prev_month') out.prev = it;\n}\nif (!out.last || !out.prev) throw new Error('Could not identify last/prev month: ' + items.map(i=>i.period).join(', '));\nreturn [{ json: out }];\n"
      },
      "id": "d540fde7-8a43-46b5-b0e6-8f64009ef06f",
      "name": "Wrap MM Month",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        1520
      ]
    },
    {
      "parameters": {},
      "id": "1d37ed5e-4ca9-4a5a-a2b1-0699b11e4355",
      "name": "Merge: Monthly + Budget",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1312,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "\n/*** Prep Monthly for Agent - MM only ***/\nconst all = $input.all().map(i => i.json);\nconst mmBundle = all.find(i => i.brand === 'MM' && ('last' in i || 'prev' in i));\nconst budget   = all.find(i => i.source === 'MindMeister' || i.pct_spent !== undefined);\nif (!mmBundle) throw new Error('No MM bundle: ' + JSON.stringify(all.map(i => Object.keys(i))));\nconst last = mmBundle.last || {}, prev = mmBundle.prev || {};\nconst pct  = (n, d) => (Number.isFinite(n) && Number.isFinite(d) && d !== 0) ? (n-d)/d : null;\nconst mom  = { spend: pct(last.totals?.spend, prev.totals?.spend),\n               conv:  pct(last.totals?.conv,  prev.totals?.conv),\n               roas:  pct(last.totals?.roas,  prev.totals?.roas),\n               ctr:   pct(last.totals?.ctr,   prev.totals?.ctr),\n               cpc:   pct(last.totals?.cpc,   prev.totals?.cpc),\n               clicks:pct(last.totals?.clicks,prev.totals?.clicks) };\nconst MONTHS = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nconst now = new Date();\nconst mn = MONTHS[(now.getMonth()+11)%12], yr = now.getMonth()===0 ? now.getFullYear()-1 : now.getFullYear();\nreturn [{ json: { monthly_payload: { MM: { last, prev, mom,\n  per_channel: last.by_channel||{},\n  highs_lows: { top3: last.top3_labels||[], bottom3: last.bottom3_labels||[] },\n  budget: budget||null }, meta: { generated_at_iso: new Date().toISOString(),\n  month_label: `${mn} ${yr}`, brand:'MM', type:'monthly' } } } }];\n"
      },
      "id": "09ed8e91-273c-42d7-9f80-2ec41dd9b578",
      "name": "Prep Monthly for Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        1600
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are the Paid Performance Analyst for MindMeister (MM) Google Ads.\n\nYour task: Write a comprehensive monthly strategic review for a leadership Slack report.\n\nINPUT\n{ monthly_payload: { MM: { last, prev, mom, per_channel, highs_lows, budget }, meta } }\n- last/prev.totals: { spend, clicks, conv, value, ctr, cpc, roas }\n- mom: month-over-month decimal fractions\n- meta.month_label: human-readable month\n\nOUTPUT RULES\n\u2022 250\u2013300 words. Plain text only \u2014 no JSON, no bullet symbols, no backticks, no markdown formatting.\n\u2022 Structure (follow this order):\n  (1) 2-sentence month headline: overall performance direction and budget efficiency vs prior month\n  (2) 2-3 sentences on channel performance: Search vs PMax breakdown with efficiency callouts\n  (3) 2-3 sentences on campaign standouts: name specific top performers and underperformers with data\n  (4) Exactly 3 numbered strategic recommendations \u2014 each MUST: state the action, name the campaign or channel, give the supporting data point, explain the expected impact on spend efficiency or growth\n\u2022 Format money as \u20acX,XXX. Round MoM % to whole numbers. Efficiency to 2 decimals.\n\u2022 Write for leadership \u2014 focus on budget allocation decisions and growth levers.\n\u2022 Never use the word \"ROAS\" \u2014 say \"campaign efficiency\" instead.\n\u2022 Recommendations must be specific enough to act on in the next planning cycle."
        }
      },
      "id": "a1313168-a05c-400e-be54-574a0e507178",
      "name": "Monthly AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1824,
        1600
      ]
    },
    {
      "parameters": {},
      "id": "dce12747-d8ba-42b2-b7ed-cb106da33bfa",
      "name": "Merge: AI + Monthly Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2080,
        1600
      ]
    },
    {
      "parameters": {
        "jsCode": "/***\n * Format Monthly Slack Blocks \u2014 Strategic Review\n * Purpose: Full-picture monthly assessment with regional breakdown and strategic recs\n * Read time: 5-7 minutes\n ***/\nconst all     = $input.all().map(i => i.json);\nconst data    = all.find(i => i.monthly_payload !== undefined) || all[0];\nconst ai      = (all.find(i => i.output !== undefined) || {}).output || '';\nconst payload = data.monthly_payload || {};\nconst mm      = payload.MM || {};\nconst meta    = payload.meta || {};\n\nconst last      = mm.last?.totals    || {};\nconst prev      = mm.prev?.totals    || {};\nconst mom       = mm.mom             || {};\nconst budget    = mm.budget           || {};\nconst ch        = mm.last?.by_channel || {};\nconst campaigns = mm.last?.campaigns  || [];\n\nconst fmtEur  = n => `\u20ac${Number(n||0).toLocaleString('de-DE',{minimumFractionDigits:2,maximumFractionDigits:2})}`;\nconst fmtNum  = n => Number(n||0).toLocaleString('de-DE');\nconst fmtRoas = n => Number(n||0).toFixed(2);\nconst fmtMom  = n => n==null ? 'n/a' : `${n>=0?'+':''}${(n*100).toFixed(0)}%`;\nconst arrow   = n => n == null ? '' : n > 0.005 ? '\u25b2' : n < -0.005 ? '\u25bc' : '\u2192';\n\n// MoM table\nconst rows = [\n  ['Spend',       fmtEur(last.spend),                   fmtEur(prev.spend),                   `${arrow(mom.spend)} ${fmtMom(mom.spend)}`],\n  ['Clicks',      fmtNum(last.clicks),                  fmtNum(prev.clicks),                  `${arrow(mom.clicks)} ${fmtMom(mom.clicks)}`],\n  ['Conversions', fmtNum(last.conv),                    fmtNum(prev.conv),                    `${arrow(mom.conv)} ${fmtMom(mom.conv)}`],\n  ['Efficiency',  fmtRoas(last.roas),                   fmtRoas(prev.roas),                   `${arrow(mom.roas)} ${fmtMom(mom.roas)}`],\n  ['CPC',         fmtEur(last.cpc),                     fmtEur(prev.cpc),                     `${arrow(mom.cpc)} ${fmtMom(mom.cpc)}`],\n  ['CTR',         `${((last.ctr||0)*100).toFixed(2)}%`, `${((prev.ctr||0)*100).toFixed(2)}%`, `${arrow(mom.ctr)} ${fmtMom(mom.ctr)}`],\n];\nconst col = (s, w) => String(s).padEnd(w);\nconst tableLines = [\n  `${col('Metric',13)}| ${col('This month',18)}| ${col('Prev month',18)}| MoM`,\n  '\u2500'.repeat(60),\n  ...rows.map(([m,l,p,d]) => `${col(m,13)}| ${col(l,18)}| ${col(p,18)}| ${d}`)\n].join('\\n');\n\nconst blocks = [\n  { type: 'header', text: { type: 'plain_text', text: `\ud83d\udcc6 MM Monthly \u2013 ${meta.month_label || 'Last Month'}`, emoji: true } },\n  { type: 'section', text: { type: 'mrkdwn', text: `\\`\\`\\`${tableLines}\\`\\`\\`` } },\n];\n\n// Budget\nif (budget.total_budget > 0) {\n  const pct = Math.round(budget.pct_spent || 0);\n  const filled = Math.min(10, Math.round(pct / 10));\n  const bar = '\u2588'.repeat(filled) + '\u2591'.repeat(10 - filled);\n  blocks.push({\n    type: 'section',\n    text: { type: 'mrkdwn',\n      text: `*Budget* \\`${bar}\\` ${pct}%  \u00b7  ${fmtEur(budget.total_spend)} of ${fmtEur(budget.total_budget)}  \u00b7  ${fmtEur(budget.leftover)} remaining`\n    }\n  });\n}\n\n// Channel breakdown with spend share\nconst chKeys = Object.keys(ch);\nif (chKeys.length > 0) {\n  const chLines = chKeys.map(k => {\n    const b = ch[k];\n    const label = k === 'PERFORMANCE_MAX' ? 'PMax' : k;\n    const share = last.spend > 0 ? ((b.spend / last.spend) * 100).toFixed(0) : 0;\n    return `\u2022 *${label}* (${share}% of spend): ${fmtEur(b.spend)} \u00b7 eff. ${fmtRoas(b.roas)} \u00b7 ${fmtNum(b.clicks)} clicks \u00b7 CTR ${((b.ctr||0)*100).toFixed(2)}% \u00b7 CPC ${fmtEur(b.cpc)} \u00b7 ${fmtNum(b.conv)} conv`;\n  }).join('\\n');\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*Channel breakdown*\\n${chLines}` } });\n}\n\n// Regional breakdown \u2014 parse first segment of campaign name (DACH, UK, US, BR, FR, ES, JA)\nif (campaigns.length > 0) {\n  const regions = {};\n  for (const c of campaigns) {\n    const region = (c.name || 'OTHER').split('_')[0];\n    if (!regions[region]) regions[region] = { spend: 0, conv: 0, value: 0 };\n    regions[region].spend += c.spend || 0;\n    regions[region].conv  += c.conv  || 0;\n    regions[region].value += c.value || 0;\n  }\n  const regionLines = Object.entries(regions)\n    .sort(([,a],[,b]) => b.spend - a.spend)\n    .map(([r, d]) => {\n      const eff = d.spend > 0 ? (d.value / d.spend).toFixed(2) : '\u2014';\n      return `\u2022 *${r}*: ${fmtEur(d.spend)} \u00b7 ${fmtNum(Math.round(d.conv))} conv \u00b7 eff. ${eff}`;\n    }).join('\\n');\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*Regional breakdown*\\n${regionLines}` } });\n}\n\n// Top 5 / Bottom 5 campaigns (\u2265\u20ac50 spend)\nconst ranked  = campaigns.filter(c => c.spend >= 50).sort((a,b) => b.roas - a.roas);\nconst top5    = ranked.slice(0, 5);\nconst bottom5 = [...ranked].reverse().slice(0, 5);\nif (top5.length || bottom5.length) {\n  blocks.push({ type: 'divider' });\n  blocks.push({\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: `*\ud83c\udfc6 Top 5 campaigns*\\n${top5.map((c,i)=>`${i+1}. ${c.name}\\n   eff. ${fmtRoas(c.roas)} \u00b7 ${fmtEur(c.spend)}`).join('\\n') || 'n/a'}` },\n      { type: 'mrkdwn', text: `*\u26a0\ufe0f Underperformers*\\n${bottom5.map((c,i)=>`${i+1}. ${c.name}\\n   eff. ${fmtRoas(c.roas)} \u00b7 ${fmtEur(c.spend)}`).join('\\n') || 'n/a'}` },\n    ]\n  });\n}\n\n// 3 strategic recommendations from Claude\nif (ai) {\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*\ud83d\udca1 Strategic recommendations*\\n${ai.slice(0,3000)}` } });\n}\n\nblocks.push({ type: 'divider' });\n\n// Data depth note\nconst depthData = mm.last;\nif (depthData) {\n  const ag = depthData.adgroups || {};\n  const kw = depthData.keywords || {};\n  const agNote = ag.total_rows > 0\n    ? (ag.has_names ? `${ag.total_rows} rows \u00b7 names available` : `${ag.total_rows} rows \u00b7 names pending in export`)\n    : 'not loaded';\n  const kwNote = kw.total_rows > 0\n    ? (kw.has_names ? `${kw.total_rows} rows \u00b7 names available` : `${kw.total_rows} rows \u00b7 names pending in export`)\n    : 'not loaded';\n  blocks.push({ type: 'divider' });\n  blocks.push({\n    type: 'context',\n    elements: [{ type: 'mrkdwn',\n      text: `_Data depth \u2014 Campaigns: ${depthData.campaigns?.length || 0} \u00b7 Ad groups: ${agNote} \u00b7 Keywords: ${kwNote}_`\n    }]\n  });\n}\n\nblocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: `_MindMeister Paid \u00b7 Monthly Review \u00b7 ${meta.month_label || ''}_` }] });\n\nconst fallback = `\ud83d\udcc6 MM Monthly \u2013 ${meta.month_label || 'Last Month'} | Spend: ${fmtEur(last.spend)} (${fmtMom(mom.spend)} MoM) | Eff: ${fmtRoas(last.roas)} (${fmtMom(mom.roas)})`;\nreturn [{ json: { blocks, blocksStr: JSON.stringify(blocks), text: fallback } }];"
      },
      "id": "18246d5a-650d-4dd9-b8e5-5924864713ef",
      "name": "Format Monthly Blocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2352,
        1600
      ]
    },
    {
      "id": "50c41dfc-0753-431a-87d6-8d4cc28c1c5a",
      "name": "Slack: Monthly Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        1600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://slack.com/api/chat.postMessage",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ channel: 'C08NX15CMEJ', text: $json.text, blocks: $json.blocks, unfurl_links: false }) }}",
        "options": {}
      },
      "credentials": {
        "slackApi": {
          "id": "INNGkyGYO6M06N8D",
          "name": "Campaign - Bot connection (Daan)"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1696,
        1008
      ],
      "id": "c5a34a5a-4493-43c1-88be-db81d7d10880",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "S9O602OHukKvYQSF",
          "name": "Daan's Claude API key"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1440,
        208
      ],
      "id": "3902afaa-f36d-4b5c-b7e7-20c6e1f1c2e4",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "S9O602OHukKvYQSF",
          "name": "Daan's Claude API key"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        1840,
        1776
      ],
      "id": "13d7a921-9fbf-4f0a-b5b7-ea1e9e3c728b",
      "name": "Anthropic Chat Model2",
      "credentials": {
        "anthropicApi": {
          "id": "S9O602OHukKvYQSF",
          "name": "Daan's Claude API key"
        }
      }
    },
    {
      "id": "1c974d55-d325-422e-aa5f-38dd44617d51",
      "name": "MM Get adgroups_yesterday",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        -320
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "\u26a0\ufe0f SELECT: adgroups_yesterday"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "0e0f460f-e68f-48c7-a6f5-348c7c5f234e",
      "name": "MM Get keywords_yesterday",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        -480
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "\u26a0\ufe0f SELECT: keywords_yesterday"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "a5f98c47-e19c-4ee0-8c1e-aa3cae6c87a8",
      "name": "Merge: yesterday camp+ag",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        368,
        -240
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "d8e9c2c5-f263-433b-adc9-3540c500bc60",
      "name": "Merge: yesterday all levels",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        528,
        -320
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "7bcebde4-6ad6-499c-a803-2eb72dfc2e2b",
      "name": "MM Get adgroups_day_before",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        -640
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "\u26a0\ufe0f SELECT: adgroups_day_before_yesterday"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "cc89672b-e5c7-4fb4-a18f-a7690b844223",
      "name": "MM Get keywords_day_before",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        -800
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "\u26a0\ufe0f SELECT: keywords_day_before_yesterday"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "0c0d89b9-ec9e-41a6-b4f7-effc9fd1e17c",
      "name": "Merge: day_before camp+ag",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        368,
        -640
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "bd930036-cedd-4cfc-b2e7-63ab3bec9cce",
      "name": "Merge: day_before all levels",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        528,
        -720
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "feb43f3d-37ff-4e9a-8817-4ec61a0dea66",
      "name": "MM Get adgroups_last_week",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        240
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "\u26a0\ufe0f SELECT: adgroups_last_week"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "764afedb-df5e-4b6d-b720-00170eaf7901",
      "name": "MM Get keywords_last_week",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        400
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "\u26a0\ufe0f SELECT: keywords_last_week"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "f5e953ea-82c7-4861-815a-a1dfc06b5648",
      "name": "Merge: last_week camp+ag",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        368,
        560
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "0c9b400d-f05d-4d61-8f19-0bd4d393c16f",
      "name": "Merge: last_week all levels",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        528,
        480
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "dc855838-5528-4a24-b45b-b923b7fe08ed",
      "name": "MM Get adgroups_prev_week",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        1040
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "\u26a0\ufe0f SELECT: adgroups_prev_week"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "bb4eed5f-e51d-4fe6-807f-c6b9750d928e",
      "name": "MM Get keywords_prev_week",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        1200
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "\u26a0\ufe0f SELECT: keywords_prev_week"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "9d6639a0-f34c-4249-911c-cbc799e80e1b",
      "name": "Merge: prev_week camp+ag",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        368,
        1040
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "3d17d558-083b-4cc1-ac66-bdf09acef6c7",
      "name": "Merge: prev_week all levels",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        528,
        1120
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "36af5f4f-15a5-4d14-83f1-407ed2cde12b",
      "name": "MM Get adgroups_last_month",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        1840
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "\u26a0\ufe0f SELECT: adgroups_last_month"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "4d87340b-7827-48d6-bbf3-a512e0f51663",
      "name": "MM Get keywords_last_month",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        2000
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "\u26a0\ufe0f SELECT: keywords_last_month"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "57bfa900-be2f-4019-a199-2a5b104d1d86",
      "name": "Merge: last_month camp+ag",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        368,
        1840
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "0becb6fe-103d-47c9-8e3f-b305c72a4126",
      "name": "Merge: last_month all levels",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        528,
        1920
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "0ded9fd2-41aa-4c0e-b00e-f9c337bf3fea",
      "name": "MM Get adgroups_prev_month",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        2160
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "\u26a0\ufe0f SELECT: adgroups_prev_month"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "88daaf30-df53-4ecb-ba6c-d0cd25f56556",
      "name": "MM Get keywords_prev_month",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        112,
        2320
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "\u26a0\ufe0f SELECT: keywords_prev_month"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "6ec78e6c-601c-452b-a651-12f01c3a2cfc",
      "name": "Merge: prev_month camp+ag",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        368,
        2160
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "6f83969e-b82f-46bc-913c-26b4a276633c",
      "name": "Merge: prev_month all levels",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        528,
        2240
      ],
      "parameters": {
        "mode": "append"
      }
    }
  ],
  "connections": {
    "Daily Trigger (Mon\u2013Fri 9 AM)": {
      "main": [
        [
          {
            "node": "MM Get yesterday",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get day_before_yesterday",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get last_week (baseline)",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get adgroups_yesterday",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get keywords_yesterday",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get adgroups_day_before",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get keywords_day_before",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get yesterday": {
      "main": [
        [
          {
            "node": "Merge: yesterday camp+ag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get day_before_yesterday": {
      "main": [
        [
          {
            "node": "Merge: day_before camp+ag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get last_week (baseline)": {
      "main": [
        [
          {
            "node": "Compile: 7-day baseline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile: yesterday": {
      "main": [
        [
          {
            "node": "Merge: Daily Pair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile: day_before_yesterday": {
      "main": [
        [
          {
            "node": "Merge: Daily Pair",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Daily Pair": {
      "main": [
        [
          {
            "node": "Merge: All Daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile: 7-day baseline": {
      "main": [
        [
          {
            "node": "Merge: All Daily",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: All Daily": {
      "main": [
        [
          {
            "node": "Detect Anomalies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Anomalies": {
      "main": [
        [
          {
            "node": "Daily AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge: AI + Daily Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily AI Agent": {
      "main": [
        [
          {
            "node": "Merge: AI + Daily Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: AI + Daily Data": {
      "main": [
        [
          {
            "node": "Format Daily Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Daily Blocks": {
      "main": [
        [
          {
            "node": "Slack: Daily Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Trigger (Tue 10 AM)": {
      "main": [
        [
          {
            "node": "MM Get last_week",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get prev_week",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get Budget (current)",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get adgroups_last_week",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get keywords_last_week",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get adgroups_prev_week",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get keywords_prev_week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get last_week": {
      "main": [
        [
          {
            "node": "Merge: last_week camp+ag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get prev_week": {
      "main": [
        [
          {
            "node": "Merge: prev_week camp+ag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get Budget (current)": {
      "main": [
        [
          {
            "node": "Budget Compile (weekly)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile: last_week": {
      "main": [
        [
          {
            "node": "Merge: Weekly Pair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile: prev_week": {
      "main": [
        [
          {
            "node": "Merge: Weekly Pair",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Weekly Pair": {
      "main": [
        [
          {
            "node": "Wrap MM Week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap MM Week": {
      "main": [
        [
          {
            "node": "Merge: Weekly + Budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Budget Compile (weekly)": {
      "main": [
        [
          {
            "node": "Merge: Weekly + Budget",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Weekly + Budget": {
      "main": [
        [
          {
            "node": "Prep Weekly for Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Weekly for Agent": {
      "main": [
        [
          {
            "node": "Weekly AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge: AI + Weekly Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly AI Agent": {
      "main": [
        [
          {
            "node": "Merge: AI + Weekly Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: AI + Weekly Data": {
      "main": [
        [
          {
            "node": "Format Weekly Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Weekly Blocks": {
      "main": [
        [
          {
            "node": "Slack: Weekly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Trigger (1st 10 AM)": {
      "main": [
        [
          {
            "node": "MM Get last_month",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get prev_month",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get Budget (last month)",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get adgroups_last_month",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get keywords_last_month",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get adgroups_prev_month",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get keywords_prev_month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get last_month": {
      "main": [
        [
          {
            "node": "Merge: last_month camp+ag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get prev_month": {
      "main": [
        [
          {
            "node": "Merge: prev_month camp+ag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get Budget (last month)": {
      "main": [
        [
          {
            "node": "Budget Compile (monthly)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile: last_month": {
      "main": [
        [
          {
            "node": "Merge: Monthly Pair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile: prev_month": {
      "main": [
        [
          {
            "node": "Merge: Monthly Pair",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Monthly Pair": {
      "main": [
        [
          {
            "node": "Wrap MM Month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap MM Month": {
      "main": [
        [
          {
            "node": "Merge: Monthly + Budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Budget Compile (monthly)": {
      "main": [
        [
          {
            "node": "Merge: Monthly + Budget",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Monthly + Budget": {
      "main": [
        [
          {
            "node": "Prep Monthly for Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Monthly for Agent": {
      "main": [
        [
          {
            "node": "Monthly AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge: AI + Monthly Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly AI Agent": {
      "main": [
        [
          {
            "node": "Merge: AI + Monthly Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: AI + Monthly Data": {
      "main": [
        [
          {
            "node": "Format Monthly Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Monthly Blocks": {
      "main": [
        [
          {
            "node": "Slack: Monthly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Weekly AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Daily AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Monthly AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MM Get adgroups_yesterday": {
      "main": [
        [
          {
            "node": "Merge: yesterday camp+ag",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MM Get keywords_yesterday": {
      "main": [
        [
          {
            "node": "Merge: yesterday all levels",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: yesterday camp+ag": {
      "main": [
        [
          {
            "node": "Merge: yesterday all levels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: yesterday all levels": {
      "main": [
        [
          {
            "node": "Compile: yesterday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get adgroups_day_before": {
      "main": [
        [
          {
            "node": "Merge: day_before camp+ag",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MM Get keywords_day_before": {
      "main": [
        [
          {
            "node": "Merge: day_before all levels",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: day_before camp+ag": {
      "main": [
        [
          {
            "node": "Merge: day_before all levels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: day_before all levels": {
      "main": [
        [
          {
            "node": "Compile: day_before_yesterday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get adgroups_last_week": {
      "main": [
        [
          {
            "node": "Merge: last_week camp+ag",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MM Get keywords_last_week": {
      "main": [
        [
          {
            "node": "Merge: last_week all levels",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: last_week camp+ag": {
      "main": [
        [
          {
            "node": "Merge: last_week all levels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: last_week all levels": {
      "main": [
        [
          {
            "node": "Compile: last_week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get adgroups_prev_week": {
      "main": [
        [
          {
            "node": "Merge: prev_week camp+ag",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MM Get keywords_prev_week": {
      "main": [
        [
          {
            "node": "Merge: prev_week all levels",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: prev_week camp+ag": {
      "main": [
        [
          {
            "node": "Merge: prev_week all levels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: prev_week all levels": {
      "main": [
        [
          {
            "node": "Compile: prev_week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get adgroups_last_month": {
      "main": [
        [
          {
            "node": "Merge: last_month camp+ag",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MM Get keywords_last_month": {
      "main": [
        [
          {
            "node": "Merge: last_month all levels",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: last_month camp+ag": {
      "main": [
        [
          {
            "node": "Merge: last_month all levels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: last_month all levels": {
      "main": [
        [
          {
            "node": "Compile: last_month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get adgroups_prev_month": {
      "main": [
        [
          {
            "node": "Merge: prev_month camp+ag",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "MM Get keywords_prev_month": {
      "main": [
        [
          {
            "node": "Merge: prev_month all levels",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: prev_month camp+ag": {
      "main": [
        [
          {
            "node": "Merge: prev_month all levels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge: prev_month all levels": {
      "main": [
        [
          {
            "node": "Compile: prev_month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "774800d6-cf4f-4f3d-ba12-ce07c392a016",
  "activeVersionId": null,
  "versionCounter": 12,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-27T11:42:56.344Z",
      "createdAt": "2026-03-27T11:42:56.344Z",
      "role": "workflow:owner",
      "workflowId": "anZ9xDsVR1jabmE5",
      "projectId": "CcfCCzaQdX0yxNzQ",
      "project": {
        "updatedAt": "2025-10-08T11:55:24.496Z",
        "createdAt": "2025-10-08T09:53:06.961Z",
        "id": "CcfCCzaQdX0yxNzQ",
        "name": "Daan Dagevos <daan.dagevos@meisterlabs.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "9866e8f1-7ee7-4523-b045-a5db9b4298d5"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}