workflow.json
{
  "name": "MM Paid Monitoring",
  "nodes": [
    {
      "id": "53122556-cfe7-4be1-8ad0-c5c9c5a927a4",
      "name": "NOTE: Daily Setup",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -60
      ],
      "parameters": {
        "content": "## \u2699\ufe0f Daily Path Setup\n\n**Open `MM Get yesterday` and `MM Get day_before_yesterday`** and select the correct sheet tabs from the dropdown.\n\nAlso: **select your Anthropic Claude credential** on the 3 model nodes.",
        "height": 140,
        "width": 360
      }
    },
    {
      "id": "c0aba508-638a-4cdc-aa1b-ebadc94d1516",
      "name": "NOTE: Weekly Path",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        740
      ],
      "parameters": {
        "content": "## \ud83d\udcc5 Weekly Path\nRuns every **Tuesday at 10 AM**.\nReads `last_week` + `prev_week` + MM budget.",
        "height": 100,
        "width": 280
      }
    },
    {
      "id": "90b2e0e8-5f43-4b46-ac7f-e63cc0db48a1",
      "name": "NOTE: Monthly Path",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        1540
      ],
      "parameters": {
        "content": "## \ud83d\udcc6 Monthly Path\nRuns on **1st of month at 10 AM**.\nReads `last_month` + `prev_month` + MM budget.",
        "height": 100,
        "width": 280
      }
    },
    {
      "id": "88160cef-85e1-4c5a-bf03-d9de7d1568c8",
      "name": "Daily Trigger (Mon\u2013Fri 9 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 9
            }
          ]
        }
      }
    },
    {
      "id": "b01b78cd-3948-46c6-a131-96b49776e110",
      "name": "MM Get yesterday",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        260,
        -160
      ],
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "\u2699\ufe0f Set to: yesterday"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "1250f50a-ebf4-46ee-bef3-41074b84514c",
      "name": "MM Get day_before_yesterday",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        260,
        0
      ],
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": "",
          "mode": "list",
          "cachedResultName": "\u2699\ufe0f Set to: day_before_yesterday"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "e2c6919d-ce23-4251-a895-fbde0802215a",
      "name": "MM Get last_week (baseline)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        260,
        160
      ],
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": 553316878,
          "mode": "list",
          "cachedResultName": "last_week"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "c9b9a121-dd42-4aba-9c0b-567726ddd503",
      "name": "Compile: yesterday",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        -160
      ],
      "parameters": {
        "jsCode": "/***\n * Compile Period: yesterday\n ***/\nconst PERIOD = 'yesterday';\nconst rows = $input.all().map(i => i.json || {});\n\nfunction toNum(v) {\n  if (v == null || v === '') return 0;\n  const n = Number(String(v).replace(/,/g,'.').replace(/[^0-9.\\-]/g,''));\n  return Number.isFinite(n) ? n : 0;\n}\nfunction normChannel(v) {\n  const s = String(v || '').toUpperCase().replace(/[_\\s]/g,' ').trim();\n  if (s.includes('SEARCH')) return 'SEARCH';\n  if (s.includes('PERFORMANCE') || s.includes('PMAX') || s.includes('MAX')) return 'PERFORMANCE MAX';\n  return s || 'OTHER';\n}\nconst safeDiv = (n, d) => (d && Number.isFinite(n) && Number.isFinite(d)) ? n/d : 0;\n\nfunction compileRows(rows) {\n  const byId = {};\n  for (const r of rows) {\n    const id   = String(r.campaign_id   || '').trim();\n    const name = String(r.campaign_name || '').trim();\n    const ch   = normChannel(r.channel  || '');\n    if (!id && !name) continue;\n    const key = id || name;\n    if (!byId[key]) byId[key] = {id, name, channel:ch, imp:0, clk:0, spend:0, conv:0, value:0};\n    byId[key].imp   += toNum(r.impressions);\n    byId[key].clk   += toNum(r.clicks);\n    byId[key].spend += toNum(r.cost);\n    byId[key].conv  += toNum(r.conversions);\n    byId[key].value += toNum(r.conv_value);\n  }\n  const campaigns = Object.values(byId).map(c => ({\n    ...c,\n    ctr:  safeDiv(c.clk,   c.imp),\n    cpc:  safeDiv(c.spend, c.clk),\n    cvr:  safeDiv(c.conv,  c.clk),\n    roas: safeDiv(c.value, c.spend),\n  }));\n  const totals = {imp:0, clicks:0, spend:0, conv:0, value:0};\n  for (const c of campaigns) {\n    totals.imp    += c.imp;\n    totals.clicks += c.clk;\n    totals.spend  += c.spend;\n    totals.conv   += c.conv;\n    totals.value  += c.value;\n  }\n  totals.ctr  = safeDiv(totals.clicks, totals.imp);\n  totals.cpc  = safeDiv(totals.spend,  totals.clicks);\n  totals.cvr  = safeDiv(totals.conv,   totals.clicks);\n  totals.roas = safeDiv(totals.value,  totals.spend);\n  const byChannel = {};\n  for (const c of campaigns) {\n    const ch = c.channel;\n    if (!byChannel[ch]) byChannel[ch] = {imp:0, clicks:0, spend:0, conv:0, value:0};\n    byChannel[ch].imp    += c.imp;\n    byChannel[ch].clicks += c.clk;\n    byChannel[ch].spend  += c.spend;\n    byChannel[ch].conv   += c.conv;\n    byChannel[ch].value  += c.value;\n  }\n  for (const b of Object.values(byChannel)) {\n    b.ctr  = safeDiv(b.clicks, b.imp);\n    b.cpc  = safeDiv(b.spend,  b.clicks);\n    b.roas = safeDiv(b.value,  b.spend);\n  }\n  const ranked = campaigns.filter(c => c.spend >= 10).sort((a,b) => b.roas - a.roas);\n  return { totals, by_channel: byChannel, campaigns,\n           top3_labels: ranked.slice(0,3).map(c=>c.name),\n           bottom3_labels: ranked.slice(-3).map(c=>c.name).reverse() };\n}\n\nconst result = compileRows(rows);\nreturn [{ json: { period: PERIOD, brand: 'MM', ...result } }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "c7c6f517-9750-41fa-9156-ed0940b37c85",
      "name": "Compile: day_before_yesterday",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ],
      "parameters": {
        "jsCode": "/***\n * Compile Period: day_before_yesterday\n ***/\nconst PERIOD = 'day_before_yesterday';\nconst rows = $input.all().map(i => i.json || {});\n\nfunction toNum(v) {\n  if (v == null || v === '') return 0;\n  const n = Number(String(v).replace(/,/g,'.').replace(/[^0-9.\\-]/g,''));\n  return Number.isFinite(n) ? n : 0;\n}\nfunction normChannel(v) {\n  const s = String(v || '').toUpperCase().replace(/[_\\s]/g,' ').trim();\n  if (s.includes('SEARCH')) return 'SEARCH';\n  if (s.includes('PERFORMANCE') || s.includes('PMAX') || s.includes('MAX')) return 'PERFORMANCE MAX';\n  return s || 'OTHER';\n}\nconst safeDiv = (n, d) => (d && Number.isFinite(n) && Number.isFinite(d)) ? n/d : 0;\n\nfunction compileRows(rows) {\n  const byId = {};\n  for (const r of rows) {\n    const id   = String(r.campaign_id   || '').trim();\n    const name = String(r.campaign_name || '').trim();\n    const ch   = normChannel(r.channel  || '');\n    if (!id && !name) continue;\n    const key = id || name;\n    if (!byId[key]) byId[key] = {id, name, channel:ch, imp:0, clk:0, spend:0, conv:0, value:0};\n    byId[key].imp   += toNum(r.impressions);\n    byId[key].clk   += toNum(r.clicks);\n    byId[key].spend += toNum(r.cost);\n    byId[key].conv  += toNum(r.conversions);\n    byId[key].value += toNum(r.conv_value);\n  }\n  const campaigns = Object.values(byId).map(c => ({\n    ...c,\n    ctr:  safeDiv(c.clk,   c.imp),\n    cpc:  safeDiv(c.spend, c.clk),\n    cvr:  safeDiv(c.conv,  c.clk),\n    roas: safeDiv(c.value, c.spend),\n  }));\n  const totals = {imp:0, clicks:0, spend:0, conv:0, value:0};\n  for (const c of campaigns) {\n    totals.imp    += c.imp;\n    totals.clicks += c.clk;\n    totals.spend  += c.spend;\n    totals.conv   += c.conv;\n    totals.value  += c.value;\n  }\n  totals.ctr  = safeDiv(totals.clicks, totals.imp);\n  totals.cpc  = safeDiv(totals.spend,  totals.clicks);\n  totals.cvr  = safeDiv(totals.conv,   totals.clicks);\n  totals.roas = safeDiv(totals.value,  totals.spend);\n  const byChannel = {};\n  for (const c of campaigns) {\n    const ch = c.channel;\n    if (!byChannel[ch]) byChannel[ch] = {imp:0, clicks:0, spend:0, conv:0, value:0};\n    byChannel[ch].imp    += c.imp;\n    byChannel[ch].clicks += c.clk;\n    byChannel[ch].spend  += c.spend;\n    byChannel[ch].conv   += c.conv;\n    byChannel[ch].value  += c.value;\n  }\n  for (const b of Object.values(byChannel)) {\n    b.ctr  = safeDiv(b.clicks, b.imp);\n    b.cpc  = safeDiv(b.spend,  b.clicks);\n    b.roas = safeDiv(b.value,  b.spend);\n  }\n  const ranked = campaigns.filter(c => c.spend >= 10).sort((a,b) => b.roas - a.roas);\n  return { totals, by_channel: byChannel, campaigns,\n           top3_labels: ranked.slice(0,3).map(c=>c.name),\n           bottom3_labels: ranked.slice(-3).map(c=>c.name).reverse() };\n}\n\nconst result = compileRows(rows);\nreturn [{ json: { period: PERIOD, brand: 'MM', ...result } }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "9e9d9d7d-64c4-4e37-a2c5-d8eacb72f816",
      "name": "Compile: 7-day baseline",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        160
      ],
      "parameters": {
        "jsCode": "/***\n * Compile 7-day Rolling Average (from last_week sheet)\n * Computes ratio-based metrics (CPC, CTR) as 7-day weighted averages.\n * Also computes daily pacing averages for spend/clicks/conversions.\n ***/\nconst PERIOD = 'last_7_days';\nconst DAYS = 7;\nconst rows = $input.all().map(i => i.json || {});\n\nfunction toNum(v) {\n  if (v == null || v === '') return 0;\n  const n = Number(String(v).replace(/,/g,'.').replace(/[^0-9.\\-]/g,''));\n  return Number.isFinite(n) ? n : 0;\n}\nfunction normChannel(v) {\n  const s = String(v || '').toUpperCase().replace(/[_\\s]/g,' ').trim();\n  if (s.includes('SEARCH')) return 'SEARCH';\n  if (s.includes('PERFORMANCE') || s.includes('PMAX') || s.includes('MAX')) return 'PERFORMANCE MAX';\n  return s || 'OTHER';\n}\nconst safeDiv = (n, d) => (d && Number.isFinite(n) && Number.isFinite(d)) ? n/d : 0;\n\nfunction compileRows(rows) {\n  const byId = {};\n  for (const r of rows) {\n    const id   = String(r.campaign_id   || '').trim();\n    const name = String(r.campaign_name || '').trim();\n    const ch   = normChannel(r.channel  || '');\n    if (!id && !name) continue;\n    const key = id || name;\n    if (!byId[key]) byId[key] = {id, name, channel:ch, imp:0, clk:0, spend:0, conv:0, value:0};\n    byId[key].imp   += toNum(r.impressions);\n    byId[key].clk   += toNum(r.clicks);\n    byId[key].spend += toNum(r.cost);\n    byId[key].conv  += toNum(r.conversions);\n    byId[key].value += toNum(r.conv_value);\n  }\n  const campaigns = Object.values(byId).map(c => ({\n    ...c,\n    ctr:  safeDiv(c.clk,   c.imp),\n    cpc:  safeDiv(c.spend, c.clk),\n    cvr:  safeDiv(c.conv,  c.clk),\n    roas: safeDiv(c.value, c.spend),\n  }));\n  const totals = {imp:0, clicks:0, spend:0, conv:0, value:0};\n  for (const c of campaigns) {\n    totals.imp    += c.imp;\n    totals.clicks += c.clk;\n    totals.spend  += c.spend;\n    totals.conv   += c.conv;\n    totals.value  += c.value;\n  }\n  totals.ctr  = safeDiv(totals.clicks, totals.imp);\n  totals.cpc  = safeDiv(totals.spend,  totals.clicks);\n  totals.cvr  = safeDiv(totals.conv,   totals.clicks);\n  totals.roas = safeDiv(totals.value,  totals.spend);\n  const byChannel = {};\n  for (const c of campaigns) {\n    const ch = c.channel;\n    if (!byChannel[ch]) byChannel[ch] = {imp:0, clicks:0, spend:0, conv:0, value:0};\n    byChannel[ch].imp    += c.imp;\n    byChannel[ch].clicks += c.clk;\n    byChannel[ch].spend  += c.spend;\n    byChannel[ch].conv   += c.conv;\n    byChannel[ch].value  += c.value;\n  }\n  for (const b of Object.values(byChannel)) {\n    b.ctr  = safeDiv(b.clicks, b.imp);\n    b.cpc  = safeDiv(b.spend,  b.clicks);\n    b.roas = safeDiv(b.value,  b.spend);\n  }\n  const ranked = campaigns.filter(c => c.spend >= 10).sort((a,b) => b.roas - a.roas);\n  return { totals, by_channel: byChannel, campaigns,\n           top3_labels: ranked.slice(0,3).map(c=>c.name),\n           bottom3_labels: ranked.slice(-3).map(c=>c.name).reverse() };\n}\n\nconst result = compileRows(rows);\n// Add daily averages (for pacing comparison with yesterday)\nresult.totals.daily_spend  = result.totals.spend  / DAYS;\nresult.totals.daily_clicks = result.totals.clicks / DAYS;\nresult.totals.daily_conv   = result.totals.conv   / DAYS;\nreturn [{ json: { period: PERIOD, brand: 'MM', ...result } }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "005ec903-02cb-4058-baae-9860d779d98d",
      "name": "Merge: Daily Pair",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        780,
        -80
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "fe0f8cff-feb5-41de-9160-c7d60f1dc24c",
      "name": "Merge: All Daily",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1040,
        0
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "603bf1e9-8a78-4e8d-a04c-cd536e13c72e",
      "name": "Detect Anomalies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        0
      ],
      "parameters": {
        "jsCode": "\n/***\n * Detect Anomalies + Prep Daily Payload\n * Thresholds: CPC +25%, CTR -20% vs 7-day avg.\n * Also checks DoD changes and spend pacing.\n ***/\nconst all = $input.all().map(i => i.json);\nconst yesterday = all.find(i => i.period === 'yesterday');\nconst dod       = all.find(i => i.period === 'day_before_yesterday');\nconst avg7d     = all.find(i => i.period === 'last_7_days');\n\nif (!yesterday) throw new Error('Missing yesterday data. Periods received: ' + all.map(i=>i.period).join(', '));\n\nconst safeDiv = (n,d) => (d && Number.isFinite(n) && Number.isFinite(d)) ? n/d : 0;\nconst pctChange = (cur, base) => (base > 0) ? (cur - base) / base : null;\n\nconst CPC_SPIKE  =  0.25;  // +25%\nconst CTR_DROP   = -0.20;  // -20%\nconst ROAS_DROP  = -0.30;  // -30%\nconst MIN_SPEND  = 20;     // min \u20ac20 spend to check campaign-level\nconst anomalies  = [];\n\nconst y = yesterday.totals;\nconst a = avg7d?.totals || {};\n\n// \u2500\u2500 Overall metrics vs 7-day avg \u2500\u2500\nconst checks = [\n  { key:'cpc',   delta: pctChange(y.cpc,  a.cpc),  threshold: CPC_SPIKE,  direction: 'up',   label:'CPC',   unit:'\u20ac' },\n  { key:'ctr',   delta: pctChange(y.ctr,  a.ctr),  threshold: CTR_DROP,   direction: 'down', label:'CTR',   unit:'%' },\n  { key:'roas',  delta: pctChange(y.roas, a.roas),  threshold: ROAS_DROP,  direction: 'down', label:'Campaign efficiency', unit:'' },\n];\n\nfor (const c of checks) {\n  if (c.delta === null) continue;\n  const triggered = c.direction === 'up' ? c.delta > c.threshold : c.delta < c.threshold;\n  if (!triggered) continue;\n  const severity = Math.abs(c.delta) > Math.abs(c.threshold) * 2 ? 'critical' : 'warning';\n  anomalies.push({\n    type: `${c.key.toUpperCase()}_ANOMALY`, severity, scope: 'overall', metric: c.label,\n    yesterday: y[c.key], baseline: a[c.key], change_pct: c.delta,\n    message: `Overall ${c.label} ${c.direction} ${(Math.abs(c.delta)*100).toFixed(1)}% vs 7-day avg`,\n  });\n}\n\n// \u2500\u2500 Spend pacing vs 7-day daily avg \u2500\u2500\nif (a.daily_spend > 0) {\n  const spendDelta = pctChange(y.spend, a.daily_spend);\n  if (spendDelta > 0.5) {\n    anomalies.push({\n      type: 'SPEND_SPIKE', severity: 'warning', scope: 'overall', metric: 'Spend',\n      yesterday: y.spend, baseline: a.daily_spend, change_pct: spendDelta,\n      message: `Daily spend \u20ac${y.spend.toFixed(0)} is ${(spendDelta*100).toFixed(0)}% above 7-day daily avg`,\n    });\n  }\n}\n\n// \u2500\u2500 Per-campaign vs 7-day avg \u2500\u2500\nfor (const camp of (yesterday.campaigns || [])) {\n  if (camp.spend < MIN_SPEND) continue;\n  const c7d = (avg7d?.campaigns || []).find(c => c.id === camp.id || c.name === camp.name);\n  if (!c7d) continue;\n  const cpc\u0394 = pctChange(camp.cpc,  c7d.cpc);\n  const ctr\u0394 = pctChange(camp.ctr,  c7d.ctr);\n  if (cpc\u0394 !== null && cpc\u0394 > CPC_SPIKE)\n    anomalies.push({ type:'CAMPAIGN_CPC', severity:'warning', scope:'campaign', campaign:camp.name,\n      metric:'CPC', change_pct:cpc\u0394, message:`\"${camp.name}\": CPC +${(cpc\u0394*100).toFixed(1)}%` });\n  if (ctr\u0394 !== null && ctr\u0394 < CTR_DROP)\n    anomalies.push({ type:'CAMPAIGN_CTR', severity:'warning', scope:'campaign', campaign:camp.name,\n      metric:'CTR', change_pct:ctr\u0394, message:`\"${camp.name}\": CTR ${(ctr\u0394*100).toFixed(1)}%` });\n}\n\n// \u2500\u2500 DoD comparison \u2500\u2500\nconst dod_changes = {};\nif (dod) {\n  const d = dod.totals;\n  dod_changes.spend  = pctChange(y.spend,  d.spend);\n  dod_changes.clicks = pctChange(y.clicks, d.clicks);\n  dod_changes.conv   = pctChange(y.conv,   d.conv);\n  dod_changes.cpc    = pctChange(y.cpc,    d.cpc);\n  dod_changes.ctr    = pctChange(y.ctr,    d.ctr);\n  dod_changes.roas   = pctChange(y.roas,   d.roas);\n}\n\nconst date = new Date(); date.setDate(date.getDate() - 1);\nreturn [{ json: {\n  brand: 'MM', date: date.toISOString().split('T')[0],\n  yesterday, dod_baseline: dod || null, rolling_7d: avg7d || null,\n  dod_changes, anomalies,\n  has_anomalies: anomalies.length > 0,\n  has_critical: anomalies.some(a => a.severity === 'critical'),\n  anomaly_count: anomalies.length,\n}}];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "280d00d2-d7e5-4750-9959-85826046c131",
      "name": "Daily AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1560,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are the Paid Performance Analyst for MindMeister (MM) Google Ads.\n\nYour task: Write a concise daily performance commentary (100\u2013150 words) that will appear in a Slack alert.\n\nINPUT\nYou receive a JSON object with:\n\u2022 date \u2014 reporting date (yesterday)\n\u2022 yesterday.totals \u2014 { spend, clicks, conv, value, ctr, cpc, roas }\n\u2022 yesterday.by_channel \u2014 per-channel breakdowns (SEARCH, PERFORMANCE MAX)\n\u2022 rolling_7d.totals \u2014 7-day rolling averages (same fields + daily_spend)\n\u2022 dod_changes \u2014 day-over-day % changes vs day_before_yesterday\n\u2022 anomalies \u2014 array of detected anomalies with message/severity\n\u2022 has_anomalies, has_critical, anomaly_count\n\nOUTPUT RULES\n\u2022 Plain text only \u2014 no JSON, no backticks, no bullet symbols (those come from the blocks formatter).\n\u2022 Write in a direct, factual tone. 2\u20134 short paragraphs max.\n\u2022 Lead with the key story: if anomalies exist, explain the likely cause and recommended action.\n\u2022 If no anomalies, highlight any notable positive or negative trend vs 7-day avg.\n\u2022 Always reference at least one metric with its value (e.g. \"CPC of \u20ac1.23, up 28%\").\n\u2022 End with one concrete next step.\n\u2022 Never use the word \"ROAS\" \u2014 say \"campaign efficiency\" instead."
        }
      }
    },
    {
      "id": "3db22f9f-3a0b-48b5-9893-3858c068bf02",
      "name": "Daily: Claude Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.1,
      "position": [
        1560,
        200
      ],
      "parameters": {
        "model": "claude-sonnet-4-6",
        "options": {}
      }
    },
    {
      "id": "6e0757d9-1499-486a-a7fd-845b6d64e47e",
      "name": "Daily: Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1560,
        380
      ],
      "parameters": {
        "contextWindowLength": 10
      }
    },
    {
      "id": "7c9da57a-2d85-4574-9f70-f1184c929ee4",
      "name": "Merge: AI + Daily Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1820,
        0
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "08b02484-cded-4941-b583-99b9c9eb876e",
      "name": "Format Daily Blocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        0
      ],
      "parameters": {
        "jsCode": "\n/***\n * Format Daily Slack Blocks\n * Input: merged item with anomaly payload + AI agent output\n ***/\nconst all  = $input.all().map(i => i.json);\nconst data = all.find(i => i.brand === 'MM' && i.date !== undefined) || all[0];\nconst ai   = (all.find(i => i.output !== undefined) || {}).output || '';\n\nconst y   = data.yesterday?.totals   || {};\nconst a   = data.rolling_7d?.totals  || {};\nconst dod = data.dod_changes          || {};\n\nconst fmtEur  = n => `\u20ac${Number(n||0).toLocaleString('de-DE',{minimumFractionDigits:2,maximumFractionDigits:2})}`;\nconst fmtNum  = n => Number(n||0).toLocaleString('de-DE');\nconst fmtPct  = (n, noSign) => n == null ? 'n/a' : `${n>=0&&!noSign?'+':''}${(n*100).toFixed(1)}%`;\nconst fmtRoas = n => Number(n||0).toFixed(2);\n\nconst statusEmoji = data.has_critical ? '\ud83d\udea8' : data.has_anomalies ? '\u26a0\ufe0f' : '\u2705';\nconst statusLabel = data.has_critical ? 'Critical Alert' : data.has_anomalies ? `${data.anomaly_count} Anomaly` : 'All Clear';\n\nconst blocks = [\n  {\n    type: 'header',\n    text: { type: 'plain_text', text: `${statusEmoji} MM Daily Paid \u2013 ${data.date} \u00b7 ${statusLabel}`, emoji: true }\n  },\n  { type: 'divider' },\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: '*Yesterday at a glance*' },\n    fields: [\n      { type: 'mrkdwn', text: `*Spend*\\n${fmtEur(y.spend)}` },\n      { type: 'mrkdwn', text: `*Clicks*\\n${fmtNum(y.clicks)}` },\n      { type: 'mrkdwn', text: `*Conversions*\\n${fmtNum(y.conv)}` },\n      { type: 'mrkdwn', text: `*Efficiency*\\n${fmtRoas(y.roas)}` },\n    ]\n  },\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: '*vs 7-day rolling average*' },\n    fields: [\n      { type: 'mrkdwn', text: `*CPC*\\n${fmtEur(y.cpc)} _(${fmtPct(a.cpc>0?(y.cpc-a.cpc)/a.cpc:null)} vs avg ${fmtEur(a.cpc)})_` },\n      { type: 'mrkdwn', text: `*CTR*\\n${fmtPct(y.ctr,true)} _(${fmtPct(a.ctr>0?(y.ctr-a.ctr)/a.ctr:null)} vs avg)_` },\n      { type: 'mrkdwn', text: `*Spend*\\n${fmtEur(y.spend)} _(${fmtPct(a.daily_spend>0?(y.spend-a.daily_spend)/a.daily_spend:null)} vs daily avg)_` },\n      { type: 'mrkdwn', text: `*DoD*\\n${Object.keys(dod).length ? `Spend ${fmtPct(dod.spend)}, CPC ${fmtPct(dod.cpc)}` : 'n/a'}` },\n    ]\n  },\n];\n\n// Channel split\nconst chKeys = Object.keys(data.yesterday?.by_channel || {});\nif (chKeys.length > 0) {\n  const chLines = chKeys.map(ch => {\n    const b = data.yesterday.by_channel[ch];\n    return `\u2022 *${ch}*: ${fmtEur(b.spend)} spend \u00b7 ${fmtNum(b.clicks)} clicks \u00b7 eff. ${fmtRoas(b.roas)}`;\n  }).join('\\n');\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*Channel breakdown*\\n${chLines}` } });\n}\n\n// Anomalies\nif (data.has_anomalies) {\n  const lines = (data.anomalies||[]).map(a => `${a.severity==='critical'?'\ud83d\udea8':'\u26a0\ufe0f'} ${a.message}`).join('\\n');\n  blocks.push({ type: 'divider' });\n  blocks.push({\n    type: 'section',\n    text: { type: 'mrkdwn', text: `*${data.has_critical?'\ud83d\udea8 Critical alerts':'\u26a0\ufe0f Anomalies detected'} (${data.anomaly_count})*\\n${lines}` }\n  });\n}\n\n// AI commentary\nif (ai) {\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*\ud83d\udca1 Analysis*\\n${ai.slice(0,3000)}` } });\n}\n\nblocks.push({ type: 'divider' });\nblocks.push({\n  type: 'context',\n  elements: [{ type: 'mrkdwn', text: `_MindMeister Paid \u00b7 Daily Monitor \u00b7 ${new Date().toISOString().split('T')[0]}_` }]\n});\n\nconst fallback = `${statusEmoji} MM Daily Paid \u2013 ${data.date} | Spend: ${fmtEur(y.spend)} | CPC: ${fmtEur(y.cpc)} | Eff: ${fmtRoas(y.roas)}${data.has_anomalies?' | '+statusLabel:''}`;\nreturn [{ json: { blocks, text: fallback } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "d28a4bcb-ce52-48f6-b52d-a444fbbd2af6",
      "name": "Slack: Daily Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2340,
        0
      ],
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08NX15CMEJ",
          "mode": "id"
        },
        "text": "={{ $json.text }}",
        "blocksUi": "={{ JSON.stringify($json.blocks) }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "botProfile": {
            "imageValues": {
              "profilePhotoType": "emoji",
              "icon_emoji": "chart_with_upwards_trend"
            }
          }
        },
        "messageType": "block"
      },
      "credentials": {
        "slackApi": {
          "id": "INNGkyGYO6M06N8D",
          "name": "Campaign - Bot connection (Daan)"
        }
      }
    },
    {
      "id": "54634bb6-dc40-420a-8c67-13e75af5f03a",
      "name": "Weekly Trigger (Tue 10 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        800
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                2
              ],
              "triggerAtHour": 10
            }
          ]
        }
      }
    },
    {
      "id": "e9afc68a-0ebd-4ef0-a61c-7c075d958630",
      "name": "MM Get last_week",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        260,
        640
      ],
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": 553316878,
          "mode": "list",
          "cachedResultName": "last_week"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "0a728af7-021f-4188-bb98-ad489a064ef8",
      "name": "MM Get prev_week",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        260,
        800
      ],
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": 1141534196,
          "mode": "list",
          "cachedResultName": "prev_week"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "3327ea68-1114-4b8c-a3f1-2b1ce84662e1",
      "name": "MM Get Budget (current)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        260,
        960
      ],
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1u_AiGmpo27x5nGQrhTj91uUez6fYWkhSBjx3k_CIw2I",
          "mode": "list",
          "cachedResultName": "Meister 2025 - Budget planning sheet - Paid Ads"
        },
        "sheetName": {
          "__rl": true,
          "value": 2049606700,
          "mode": "list",
          "cachedResultName": "MM budget sheet 2025"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "1415448e-2279-419e-9ef1-abbd84deb6d4",
      "name": "Compile: last_week",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        640
      ],
      "parameters": {
        "jsCode": "/***\n * Compile Period: last_week\n ***/\nconst PERIOD = 'last_week';\nconst rows = $input.all().map(i => i.json || {});\n\nfunction toNum(v) {\n  if (v == null || v === '') return 0;\n  const n = Number(String(v).replace(/,/g,'.').replace(/[^0-9.\\-]/g,''));\n  return Number.isFinite(n) ? n : 0;\n}\nfunction normChannel(v) {\n  const s = String(v || '').toUpperCase().replace(/[_\\s]/g,' ').trim();\n  if (s.includes('SEARCH')) return 'SEARCH';\n  if (s.includes('PERFORMANCE') || s.includes('PMAX') || s.includes('MAX')) return 'PERFORMANCE MAX';\n  return s || 'OTHER';\n}\nconst safeDiv = (n, d) => (d && Number.isFinite(n) && Number.isFinite(d)) ? n/d : 0;\n\nfunction compileRows(rows) {\n  const byId = {};\n  for (const r of rows) {\n    const id   = String(r.campaign_id   || '').trim();\n    const name = String(r.campaign_name || '').trim();\n    const ch   = normChannel(r.channel  || '');\n    if (!id && !name) continue;\n    const key = id || name;\n    if (!byId[key]) byId[key] = {id, name, channel:ch, imp:0, clk:0, spend:0, conv:0, value:0};\n    byId[key].imp   += toNum(r.impressions);\n    byId[key].clk   += toNum(r.clicks);\n    byId[key].spend += toNum(r.cost);\n    byId[key].conv  += toNum(r.conversions);\n    byId[key].value += toNum(r.conv_value);\n  }\n  const campaigns = Object.values(byId).map(c => ({\n    ...c,\n    ctr:  safeDiv(c.clk,   c.imp),\n    cpc:  safeDiv(c.spend, c.clk),\n    cvr:  safeDiv(c.conv,  c.clk),\n    roas: safeDiv(c.value, c.spend),\n  }));\n  const totals = {imp:0, clicks:0, spend:0, conv:0, value:0};\n  for (const c of campaigns) {\n    totals.imp    += c.imp;\n    totals.clicks += c.clk;\n    totals.spend  += c.spend;\n    totals.conv   += c.conv;\n    totals.value  += c.value;\n  }\n  totals.ctr  = safeDiv(totals.clicks, totals.imp);\n  totals.cpc  = safeDiv(totals.spend,  totals.clicks);\n  totals.cvr  = safeDiv(totals.conv,   totals.clicks);\n  totals.roas = safeDiv(totals.value,  totals.spend);\n  const byChannel = {};\n  for (const c of campaigns) {\n    const ch = c.channel;\n    if (!byChannel[ch]) byChannel[ch] = {imp:0, clicks:0, spend:0, conv:0, value:0};\n    byChannel[ch].imp    += c.imp;\n    byChannel[ch].clicks += c.clk;\n    byChannel[ch].spend  += c.spend;\n    byChannel[ch].conv   += c.conv;\n    byChannel[ch].value  += c.value;\n  }\n  for (const b of Object.values(byChannel)) {\n    b.ctr  = safeDiv(b.clicks, b.imp);\n    b.cpc  = safeDiv(b.spend,  b.clicks);\n    b.roas = safeDiv(b.value,  b.spend);\n  }\n  const ranked = campaigns.filter(c => c.spend >= 10).sort((a,b) => b.roas - a.roas);\n  return { totals, by_channel: byChannel, campaigns,\n           top3_labels: ranked.slice(0,3).map(c=>c.name),\n           bottom3_labels: ranked.slice(-3).map(c=>c.name).reverse() };\n}\n\nconst result = compileRows(rows);\nreturn [{ json: { period: PERIOD, brand: 'MM', ...result } }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "a83958e6-a5a8-49d6-bc97-7f120c641ab5",
      "name": "Compile: prev_week",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        800
      ],
      "parameters": {
        "jsCode": "/***\n * Compile Period: prev_week\n ***/\nconst PERIOD = 'prev_week';\nconst rows = $input.all().map(i => i.json || {});\n\nfunction toNum(v) {\n  if (v == null || v === '') return 0;\n  const n = Number(String(v).replace(/,/g,'.').replace(/[^0-9.\\-]/g,''));\n  return Number.isFinite(n) ? n : 0;\n}\nfunction normChannel(v) {\n  const s = String(v || '').toUpperCase().replace(/[_\\s]/g,' ').trim();\n  if (s.includes('SEARCH')) return 'SEARCH';\n  if (s.includes('PERFORMANCE') || s.includes('PMAX') || s.includes('MAX')) return 'PERFORMANCE MAX';\n  return s || 'OTHER';\n}\nconst safeDiv = (n, d) => (d && Number.isFinite(n) && Number.isFinite(d)) ? n/d : 0;\n\nfunction compileRows(rows) {\n  const byId = {};\n  for (const r of rows) {\n    const id   = String(r.campaign_id   || '').trim();\n    const name = String(r.campaign_name || '').trim();\n    const ch   = normChannel(r.channel  || '');\n    if (!id && !name) continue;\n    const key = id || name;\n    if (!byId[key]) byId[key] = {id, name, channel:ch, imp:0, clk:0, spend:0, conv:0, value:0};\n    byId[key].imp   += toNum(r.impressions);\n    byId[key].clk   += toNum(r.clicks);\n    byId[key].spend += toNum(r.cost);\n    byId[key].conv  += toNum(r.conversions);\n    byId[key].value += toNum(r.conv_value);\n  }\n  const campaigns = Object.values(byId).map(c => ({\n    ...c,\n    ctr:  safeDiv(c.clk,   c.imp),\n    cpc:  safeDiv(c.spend, c.clk),\n    cvr:  safeDiv(c.conv,  c.clk),\n    roas: safeDiv(c.value, c.spend),\n  }));\n  const totals = {imp:0, clicks:0, spend:0, conv:0, value:0};\n  for (const c of campaigns) {\n    totals.imp    += c.imp;\n    totals.clicks += c.clk;\n    totals.spend  += c.spend;\n    totals.conv   += c.conv;\n    totals.value  += c.value;\n  }\n  totals.ctr  = safeDiv(totals.clicks, totals.imp);\n  totals.cpc  = safeDiv(totals.spend,  totals.clicks);\n  totals.cvr  = safeDiv(totals.conv,   totals.clicks);\n  totals.roas = safeDiv(totals.value,  totals.spend);\n  const byChannel = {};\n  for (const c of campaigns) {\n    const ch = c.channel;\n    if (!byChannel[ch]) byChannel[ch] = {imp:0, clicks:0, spend:0, conv:0, value:0};\n    byChannel[ch].imp    += c.imp;\n    byChannel[ch].clicks += c.clk;\n    byChannel[ch].spend  += c.spend;\n    byChannel[ch].conv   += c.conv;\n    byChannel[ch].value  += c.value;\n  }\n  for (const b of Object.values(byChannel)) {\n    b.ctr  = safeDiv(b.clicks, b.imp);\n    b.cpc  = safeDiv(b.spend,  b.clicks);\n    b.roas = safeDiv(b.value,  b.spend);\n  }\n  const ranked = campaigns.filter(c => c.spend >= 10).sort((a,b) => b.roas - a.roas);\n  return { totals, by_channel: byChannel, campaigns,\n           top3_labels: ranked.slice(0,3).map(c=>c.name),\n           bottom3_labels: ranked.slice(-3).map(c=>c.name).reverse() };\n}\n\nconst result = compileRows(rows);\nreturn [{ json: { period: PERIOD, brand: 'MM', ...result } }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "13644b96-5fa3-47fb-94e2-507cce646950",
      "name": "Budget Compile (weekly)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        960
      ],
      "parameters": {
        "jsCode": "\n// MindMeister - Current month budget pacing\nconst BRAND = \"MindMeister\";\nconst MODE = \"current\";\nconst MONTHS = [\"January\",\"February\",\"March\",\"April\",\"May\",\"June\",\"July\",\"August\",\"September\",\"October\",\"November\",\"December\"];\nconst now = new Date();\nconst monthName = MODE === \"last\" ? MONTHS[(now.getMonth()+11)%12] : MONTHS[now.getMonth()];\nconst rows = $input.all().map(i => i.json);\nfunction labelOf(r){ const k=Object.keys(r).find(x=>/^col[\\s_]*1$/i.test(x))||Object.keys(r)[0]; return String(r?.[k]??\"\").trim(); }\nfunction findRow(t){ const w=t===\"sum\"?\"summe\":\"leftover\"; let r=rows.find(r=>labelOf(r).toLowerCase()===w); if(!r) r=rows.find(r=>Number(r.row_number)===(t===\"sum\"?43:44)); return r; }\nfunction toNum(v){ if(typeof v===\"number\") return v; if(v==null||v===\"\") return 0; const s=String(v).trim().replace(/\\s/g,\"\").replace(/[\u20ac]/g,\"\").replace(/\\./g,\"\").replace(/,/g,\".\").replace(/[^\\d.\\-]/g,\"\"); const n=Number(s); return Number.isFinite(n)?n:0; }\nfunction fmtEUR(n){ return `\u20ac${n.toLocaleString(\"de-DE\",{minimumFractionDigits:2,maximumFractionDigits:2})}`; }\nconst rowSum=findRow(\"sum\"), rowLeft=findRow(\"left\");\nconst spend=toNum(rowSum?.[monthName]), leftover=toNum(rowLeft?.[monthName]);\nconst budget=spend+leftover, pct=budget?Number(((spend/budget)*100).toFixed(1)):0;\nreturn [{ json: { source:BRAND, month_name:monthName, total_budget:budget, total_spend:spend, leftover, pct_spent:pct, summary_text:`Total budget: ${fmtEUR(budget)} \u2014 total spend: ${fmtEUR(spend)} (${pct}% used, ${fmtEUR(leftover)} left)` } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "ca0d6054-9af8-4541-b548-3422e7eadb44",
      "name": "Merge: Weekly Pair",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        780,
        720
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "dc411a14-be63-4c7c-adb5-58a67eb12168",
      "name": "Wrap MM Week",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        720
      ],
      "parameters": {
        "jsCode": "\nconst items = $input.all().map(i => i.json);\nif (items.length !== 2) throw new Error(`Expected 2 items, got ${items.length}`);\nconst out = { brand: 'MM', last: null, prev: null };\nfor (const it of items) {\n  if (it.period === 'last_week') out.last = it;\n  else if (it.period === 'prev_week') out.prev = it;\n}\nif (!out.last || !out.prev) throw new Error('Could not identify last/prev week items: ' + items.map(i=>i.period).join(', '));\nreturn [{ json: out }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "6874598b-97ab-4a81-9857-c04bb2e7d452",
      "name": "Merge: Weekly + Budget",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1300,
        800
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "9cf9c96f-a2b6-4a20-8154-2bb95e5d9e02",
      "name": "Prep Weekly for Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        800
      ],
      "parameters": {
        "jsCode": "\n/*** Prep Weekly for Agent - MM only ***/\nconst all = $input.all().map(i => i.json);\nconst mmBundle = all.find(i => i.brand === 'MM' && ('last' in i || 'prev' in i));\nconst budget   = all.find(i => i.source === 'MindMeister' || i.pct_spent !== undefined);\nif (!mmBundle) throw new Error('No MM bundle: ' + JSON.stringify(all.map(i => Object.keys(i))));\nconst last = mmBundle.last || {}, prev = mmBundle.prev || {};\nconst pct  = (n, d) => (Number.isFinite(n) && Number.isFinite(d) && d !== 0) ? (n-d)/d : null;\nconst wow  = { spend: pct(last.totals?.spend, prev.totals?.spend),\n               conv:  pct(last.totals?.conv,  prev.totals?.conv),\n               roas:  pct(last.totals?.roas,  prev.totals?.roas),\n               ctr:   pct(last.totals?.ctr,   prev.totals?.ctr),\n               cpc:   pct(last.totals?.cpc,   prev.totals?.cpc),\n               clicks:pct(last.totals?.clicks,prev.totals?.clicks) };\nconst now = new Date(), dayMs = 86400000, mo = (now.getDay()+6)%7;\nconst mon = new Date(now - mo*dayMs), lastMon = new Date(mon - 7*dayMs);\nconst lastSun = new Date(lastMon.getTime() + 6*dayMs);\nconst fmt = d => d.toISOString().split('T')[0];\nreturn [{ json: { weekly_payload: { MM: { last, prev, wow,\n  per_channel: last.by_channel || {},\n  highs_lows: { top3: last.top3_labels||[], bottom3: last.bottom3_labels||[] },\n  budget: budget||null }, meta: { generated_at_iso: new Date().toISOString(),\n  week_label: `${fmt(lastMon)} \u2013 ${fmt(lastSun)}`, brand:'MM', type:'weekly' } } } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "09572f4c-4fc0-4344-87e3-bfed676e5dd0",
      "name": "Weekly AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1820,
        800
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are the Paid Performance Analyst for MindMeister (MM) Google Ads.\n\nYour task: Write a concise weekly performance commentary for a Slack report.\n\nINPUT\nYou receive { weekly_payload: { MM: { last, prev, wow, per_channel, highs_lows, budget }, meta } }\n\nFields in last/prev: totals { spend, clicks, conv, value, ctr, cpc, roas }\nwow fields: spend, clicks, conv, roas, ctr, cpc (decimal fractions, e.g. 0.12 = +12%)\n\nOUTPUT RULES\n\u2022 130\u2013180 words. Plain text only \u2014 no bullet symbols, no JSON, no backticks.\n\u2022 Structure: (1) headline metric (2) channel commentary (3) campaign highlights (4) 2 concrete recommendations.\n\u2022 Reference the week label from meta.week_label.\n\u2022 Format money as \u20acX,XXX. Round percentages to whole numbers.\n\u2022 Always say \"campaign efficiency\" instead of \"ROAS\".\n\u2022 Recommendations must be data-driven and specific (e.g. \"Reduce budget on DACH_de_PRICES by 15%\")."
        }
      }
    },
    {
      "id": "83cd1b72-499c-40fd-9651-189ea1c471e2",
      "name": "Weekly: Claude Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.1,
      "position": [
        1820,
        1000
      ],
      "parameters": {
        "model": "claude-sonnet-4-6",
        "options": {}
      }
    },
    {
      "id": "d45fbbb9-62d1-48ea-be07-d487b6d9ccaf",
      "name": "Weekly: Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1820,
        1180
      ],
      "parameters": {
        "contextWindowLength": 10
      }
    },
    {
      "id": "1cd2763d-9bf3-4927-a1d7-8ab07d30a70d",
      "name": "Merge: AI + Weekly Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2080,
        800
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "41536ec0-55f5-44da-9a23-f223122da120",
      "name": "Format Weekly Blocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        800
      ],
      "parameters": {
        "jsCode": "\n/***\n * Format Weekly Slack Blocks\n ***/\nconst all    = $input.all().map(i => i.json);\nconst data   = all.find(i => i.weekly_payload !== undefined) || all[0];\nconst ai     = (all.find(i => i.output !== undefined) || {}).output || '';\nconst payload = data.weekly_payload || {};\nconst mm      = payload.MM || {};\nconst meta    = payload.meta || {};\n\nconst last   = mm.last?.totals    || {};\nconst prev   = mm.prev?.totals    || {};\nconst wow    = mm.wow             || {};\nconst budget = mm.budget           || {};\nconst ch     = mm.last?.by_channel || {};\n\nconst fmtEur  = n => `\u20ac${Number(n||0).toLocaleString('de-DE',{minimumFractionDigits:2,maximumFractionDigits:2})}`;\nconst fmtNum  = n => Number(n||0).toLocaleString('de-DE');\nconst fmtRoas = n => Number(n||0).toFixed(2);\nconst fmtWow  = n => n==null ? 'n/a' : `${n>=0?'+':''}${(n*100).toFixed(1)}%`;\n\nconst blocks = [\n  { type: 'header', text: { type: 'plain_text', text: `\ud83d\udcca MM Weekly Google Ads \u2013 ${meta.week_label || 'Last Week'}`, emoji: true } },\n  { type: 'divider' },\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: '*Performance summary*' },\n    fields: [\n      { type: 'mrkdwn', text: `*Spend*\\n${fmtEur(last.spend)}\\n_${fmtWow(wow.spend)} WoW_` },\n      { type: 'mrkdwn', text: `*Clicks*\\n${fmtNum(last.clicks)}\\n_${fmtWow(wow.clicks)} WoW_` },\n      { type: 'mrkdwn', text: `*Conversions*\\n${fmtNum(last.conv)}\\n_${fmtWow(wow.conv)} WoW_` },\n      { type: 'mrkdwn', text: `*Efficiency*\\n${fmtRoas(last.roas)}\\n_${fmtWow(wow.roas)} WoW_` },\n      { type: 'mrkdwn', text: `*CPC*\\n${fmtEur(last.cpc)}\\n_${fmtWow(wow.cpc)} WoW_` },\n      { type: 'mrkdwn', text: `*CTR*\\n${((last.ctr||0)*100).toFixed(2)}%\\n_${fmtWow(wow.ctr)} WoW_` },\n    ]\n  },\n];\n\n// Budget\nif (budget.total_budget > 0) {\n  blocks.push({\n    type: 'section',\n    text: { type: 'mrkdwn', text: `*Budget pacing*   ${fmtEur(budget.total_spend)} spent of ${fmtEur(budget.total_budget)} (${budget.pct_spent}%) \u00b7 ${fmtEur(budget.leftover)} remaining` }\n  });\n}\n\n// Channel breakdown\nconst chKeys = Object.keys(ch);\nif (chKeys.length > 0) {\n  const chLines = chKeys.map(k => {\n    const b = ch[k];\n    return `\u2022 *${k}*: ${fmtEur(b.spend)} \u00b7 ${fmtNum(b.clicks)} clicks \u00b7 eff. ${fmtRoas(b.roas)} \u00b7 ${fmtNum(b.conv)} conv`;\n  }).join('\\n');\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*Channel breakdown*\\n${chLines}` } });\n}\n\n// Top/Bottom\nconst top3    = mm.highs_lows?.top3    || mm.last?.top3_labels    || [];\nconst bottom3 = mm.highs_lows?.bottom3 || mm.last?.bottom3_labels || [];\nif (top3.length || bottom3.length) {\n  blocks.push({ type: 'divider' });\n  blocks.push({\n    type: 'section',\n    fields: [\n      { type: 'mrkdwn', text: `*\ud83c\udfc6 Top 3 (efficiency)*\\n${top3.map((n,i)=>`${i+1}. ${n}`).join('\\n') || 'n/a'}` },\n      { type: 'mrkdwn', text: `*\u26a0\ufe0f Bottom 3 (efficiency)*\\n${bottom3.map((n,i)=>`${i+1}. ${n}`).join('\\n') || 'n/a'}` },\n    ]\n  });\n}\n\n// AI commentary\nif (ai) {\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*\ud83d\udca1 Analysis & Recommendations*\\n${ai.slice(0,3000)}` } });\n}\n\nblocks.push({ type: 'divider' });\nblocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: `_MindMeister Paid \u00b7 Weekly Report \u00b7 ${meta.week_label || ''}_` }] });\n\nreturn [{ json: { blocks, text: `\ud83d\udcca MM Weekly Google Ads \u2013 ${meta.week_label || 'Last Week'} | Spend: ${fmtEur(last.spend)} | Eff: ${fmtRoas(last.roas)}` } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "824e83a2-838d-442e-9202-cb59681865cd",
      "name": "Slack: Weekly Report",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2600,
        800
      ],
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08NX15CMEJ",
          "mode": "id"
        },
        "text": "={{ $json.text }}",
        "blocksUi": "={{ JSON.stringify($json.blocks) }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "botProfile": {
            "imageValues": {
              "profilePhotoType": "emoji",
              "icon_emoji": "chart_with_upwards_trend"
            }
          }
        },
        "messageType": "block"
      },
      "credentials": {
        "slackApi": {
          "id": "INNGkyGYO6M06N8D",
          "name": "Campaign - Bot connection (Daan)"
        }
      }
    },
    {
      "id": "cd4e3d4e-bb5c-4d37-a8f6-9272b637a209",
      "name": "Monthly Trigger (1st 10 AM)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        1600
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 10,
              "triggerAtDayOfMonth": 1
            }
          ]
        }
      }
    },
    {
      "id": "0618d82f-2cba-4c3b-9836-99204558d97e",
      "name": "MM Get last_month",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        260,
        1440
      ],
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": 1273019138,
          "mode": "list",
          "cachedResultName": "last_month"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "9cf7af61-d8e5-4e28-bb56-098ba8325491",
      "name": "MM Get prev_month",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        260,
        1600
      ],
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Uag5Qd7elO6R6S1VLXvWIATfK9MHHbNkr-sNM1BOaX0",
          "mode": "list",
          "cachedResultName": "MM Paid campaign overview"
        },
        "sheetName": {
          "__rl": true,
          "value": 1049369837,
          "mode": "list",
          "cachedResultName": "prev_month"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "9000f1e6-f184-4e15-ba55-75da2e0135ee",
      "name": "MM Get Budget (last month)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        260,
        1760
      ],
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1u_AiGmpo27x5nGQrhTj91uUez6fYWkhSBjx3k_CIw2I",
          "mode": "list",
          "cachedResultName": "Meister 2025 - Budget planning sheet - Paid Ads"
        },
        "sheetName": {
          "__rl": true,
          "value": 2049606700,
          "mode": "list",
          "cachedResultName": "MM budget sheet 2025"
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pxaxsciwgNqJ1ioN",
          "name": "Daan - Google sheet connection"
        }
      }
    },
    {
      "id": "a0c42e3d-de65-4899-9292-590165f4402e",
      "name": "Compile: last_month",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        1440
      ],
      "parameters": {
        "jsCode": "/***\n * Compile Period: last_month\n ***/\nconst PERIOD = 'last_month';\nconst rows = $input.all().map(i => i.json || {});\n\nfunction toNum(v) {\n  if (v == null || v === '') return 0;\n  const n = Number(String(v).replace(/,/g,'.').replace(/[^0-9.\\-]/g,''));\n  return Number.isFinite(n) ? n : 0;\n}\nfunction normChannel(v) {\n  const s = String(v || '').toUpperCase().replace(/[_\\s]/g,' ').trim();\n  if (s.includes('SEARCH')) return 'SEARCH';\n  if (s.includes('PERFORMANCE') || s.includes('PMAX') || s.includes('MAX')) return 'PERFORMANCE MAX';\n  return s || 'OTHER';\n}\nconst safeDiv = (n, d) => (d && Number.isFinite(n) && Number.isFinite(d)) ? n/d : 0;\n\nfunction compileRows(rows) {\n  const byId = {};\n  for (const r of rows) {\n    const id   = String(r.campaign_id   || '').trim();\n    const name = String(r.campaign_name || '').trim();\n    const ch   = normChannel(r.channel  || '');\n    if (!id && !name) continue;\n    const key = id || name;\n    if (!byId[key]) byId[key] = {id, name, channel:ch, imp:0, clk:0, spend:0, conv:0, value:0};\n    byId[key].imp   += toNum(r.impressions);\n    byId[key].clk   += toNum(r.clicks);\n    byId[key].spend += toNum(r.cost);\n    byId[key].conv  += toNum(r.conversions);\n    byId[key].value += toNum(r.conv_value);\n  }\n  const campaigns = Object.values(byId).map(c => ({\n    ...c,\n    ctr:  safeDiv(c.clk,   c.imp),\n    cpc:  safeDiv(c.spend, c.clk),\n    cvr:  safeDiv(c.conv,  c.clk),\n    roas: safeDiv(c.value, c.spend),\n  }));\n  const totals = {imp:0, clicks:0, spend:0, conv:0, value:0};\n  for (const c of campaigns) {\n    totals.imp    += c.imp;\n    totals.clicks += c.clk;\n    totals.spend  += c.spend;\n    totals.conv   += c.conv;\n    totals.value  += c.value;\n  }\n  totals.ctr  = safeDiv(totals.clicks, totals.imp);\n  totals.cpc  = safeDiv(totals.spend,  totals.clicks);\n  totals.cvr  = safeDiv(totals.conv,   totals.clicks);\n  totals.roas = safeDiv(totals.value,  totals.spend);\n  const byChannel = {};\n  for (const c of campaigns) {\n    const ch = c.channel;\n    if (!byChannel[ch]) byChannel[ch] = {imp:0, clicks:0, spend:0, conv:0, value:0};\n    byChannel[ch].imp    += c.imp;\n    byChannel[ch].clicks += c.clk;\n    byChannel[ch].spend  += c.spend;\n    byChannel[ch].conv   += c.conv;\n    byChannel[ch].value  += c.value;\n  }\n  for (const b of Object.values(byChannel)) {\n    b.ctr  = safeDiv(b.clicks, b.imp);\n    b.cpc  = safeDiv(b.spend,  b.clicks);\n    b.roas = safeDiv(b.value,  b.spend);\n  }\n  const ranked = campaigns.filter(c => c.spend >= 10).sort((a,b) => b.roas - a.roas);\n  return { totals, by_channel: byChannel, campaigns,\n           top3_labels: ranked.slice(0,3).map(c=>c.name),\n           bottom3_labels: ranked.slice(-3).map(c=>c.name).reverse() };\n}\n\nconst result = compileRows(rows);\nreturn [{ json: { period: PERIOD, brand: 'MM', ...result } }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "6f9b991c-382c-46e3-b1ff-7cab4ec6f312",
      "name": "Compile: prev_month",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        1600
      ],
      "parameters": {
        "jsCode": "/***\n * Compile Period: prev_month\n ***/\nconst PERIOD = 'prev_month';\nconst rows = $input.all().map(i => i.json || {});\n\nfunction toNum(v) {\n  if (v == null || v === '') return 0;\n  const n = Number(String(v).replace(/,/g,'.').replace(/[^0-9.\\-]/g,''));\n  return Number.isFinite(n) ? n : 0;\n}\nfunction normChannel(v) {\n  const s = String(v || '').toUpperCase().replace(/[_\\s]/g,' ').trim();\n  if (s.includes('SEARCH')) return 'SEARCH';\n  if (s.includes('PERFORMANCE') || s.includes('PMAX') || s.includes('MAX')) return 'PERFORMANCE MAX';\n  return s || 'OTHER';\n}\nconst safeDiv = (n, d) => (d && Number.isFinite(n) && Number.isFinite(d)) ? n/d : 0;\n\nfunction compileRows(rows) {\n  const byId = {};\n  for (const r of rows) {\n    const id   = String(r.campaign_id   || '').trim();\n    const name = String(r.campaign_name || '').trim();\n    const ch   = normChannel(r.channel  || '');\n    if (!id && !name) continue;\n    const key = id || name;\n    if (!byId[key]) byId[key] = {id, name, channel:ch, imp:0, clk:0, spend:0, conv:0, value:0};\n    byId[key].imp   += toNum(r.impressions);\n    byId[key].clk   += toNum(r.clicks);\n    byId[key].spend += toNum(r.cost);\n    byId[key].conv  += toNum(r.conversions);\n    byId[key].value += toNum(r.conv_value);\n  }\n  const campaigns = Object.values(byId).map(c => ({\n    ...c,\n    ctr:  safeDiv(c.clk,   c.imp),\n    cpc:  safeDiv(c.spend, c.clk),\n    cvr:  safeDiv(c.conv,  c.clk),\n    roas: safeDiv(c.value, c.spend),\n  }));\n  const totals = {imp:0, clicks:0, spend:0, conv:0, value:0};\n  for (const c of campaigns) {\n    totals.imp    += c.imp;\n    totals.clicks += c.clk;\n    totals.spend  += c.spend;\n    totals.conv   += c.conv;\n    totals.value  += c.value;\n  }\n  totals.ctr  = safeDiv(totals.clicks, totals.imp);\n  totals.cpc  = safeDiv(totals.spend,  totals.clicks);\n  totals.cvr  = safeDiv(totals.conv,   totals.clicks);\n  totals.roas = safeDiv(totals.value,  totals.spend);\n  const byChannel = {};\n  for (const c of campaigns) {\n    const ch = c.channel;\n    if (!byChannel[ch]) byChannel[ch] = {imp:0, clicks:0, spend:0, conv:0, value:0};\n    byChannel[ch].imp    += c.imp;\n    byChannel[ch].clicks += c.clk;\n    byChannel[ch].spend  += c.spend;\n    byChannel[ch].conv   += c.conv;\n    byChannel[ch].value  += c.value;\n  }\n  for (const b of Object.values(byChannel)) {\n    b.ctr  = safeDiv(b.clicks, b.imp);\n    b.cpc  = safeDiv(b.spend,  b.clicks);\n    b.roas = safeDiv(b.value,  b.spend);\n  }\n  const ranked = campaigns.filter(c => c.spend >= 10).sort((a,b) => b.roas - a.roas);\n  return { totals, by_channel: byChannel, campaigns,\n           top3_labels: ranked.slice(0,3).map(c=>c.name),\n           bottom3_labels: ranked.slice(-3).map(c=>c.name).reverse() };\n}\n\nconst result = compileRows(rows);\nreturn [{ json: { period: PERIOD, brand: 'MM', ...result } }];",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "9a8e5350-94de-4f43-909e-742a87dcc47c",
      "name": "Budget Compile (monthly)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        1760
      ],
      "parameters": {
        "jsCode": "\n// MindMeister - Last month budget\nconst BRAND = \"MindMeister\";\nconst MODE = \"last\";\nconst MONTHS = [\"January\",\"February\",\"March\",\"April\",\"May\",\"June\",\"July\",\"August\",\"September\",\"October\",\"November\",\"December\"];\nconst now = new Date();\nconst monthName = MODE === \"last\" ? MONTHS[(now.getMonth()+11)%12] : MONTHS[now.getMonth()];\nconst rows = $input.all().map(i => i.json);\nfunction labelOf(r){ const k=Object.keys(r).find(x=>/^col[\\s_]*1$/i.test(x))||Object.keys(r)[0]; return String(r?.[k]??\"\").trim(); }\nfunction findRow(t){ const w=t===\"sum\"?\"summe\":\"leftover\"; let r=rows.find(r=>labelOf(r).toLowerCase()===w); if(!r) r=rows.find(r=>Number(r.row_number)===(t===\"sum\"?43:44)); return r; }\nfunction toNum(v){ if(typeof v===\"number\") return v; if(v==null||v===\"\") return 0; const s=String(v).trim().replace(/\\s/g,\"\").replace(/[\u20ac]/g,\"\").replace(/\\./g,\"\").replace(/,/g,\".\").replace(/[^\\d.\\-]/g,\"\"); const n=Number(s); return Number.isFinite(n)?n:0; }\nfunction fmtEUR(n){ return `\u20ac${n.toLocaleString(\"de-DE\",{minimumFractionDigits:2,maximumFractionDigits:2})}`; }\nconst rowSum=findRow(\"sum\"), rowLeft=findRow(\"left\");\nconst spend=toNum(rowSum?.[monthName]), leftover=toNum(rowLeft?.[monthName]);\nconst budget=spend+leftover, pct=budget?Number(((spend/budget)*100).toFixed(1)):0;\nreturn [{ json: { source:BRAND, month_name:monthName, total_budget:budget, total_spend:spend, leftover, pct_spent:pct, summary_text:`Total budget: ${fmtEUR(budget)} \u2014 total spend: ${fmtEUR(spend)} (${pct}% used, ${fmtEUR(leftover)} left)` } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "e23040a2-96bd-4910-9fec-5bb6bcda6c6f",
      "name": "Merge: Monthly Pair",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        780,
        1520
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "d540fde7-8a43-46b5-b0e6-8f64009ef06f",
      "name": "Wrap MM Month",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        1520
      ],
      "parameters": {
        "jsCode": "\nconst items = $input.all().map(i => i.json);\nif (items.length !== 2) throw new Error(`Expected 2 items, got ${items.length}`);\nconst out = { brand: 'MM', last: null, prev: null };\nfor (const it of items) {\n  if (it.period === 'last_month') out.last = it;\n  else if (it.period === 'prev_month') out.prev = it;\n}\nif (!out.last || !out.prev) throw new Error('Could not identify last/prev month: ' + items.map(i=>i.period).join(', '));\nreturn [{ json: out }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "1d37ed5e-4ca9-4a5a-a2b1-0699b11e4355",
      "name": "Merge: Monthly + Budget",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1300,
        1600
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "09ed8e91-273c-42d7-9f80-2ec41dd9b578",
      "name": "Prep Monthly for Agent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        1600
      ],
      "parameters": {
        "jsCode": "\n/*** Prep Monthly for Agent - MM only ***/\nconst all = $input.all().map(i => i.json);\nconst mmBundle = all.find(i => i.brand === 'MM' && ('last' in i || 'prev' in i));\nconst budget   = all.find(i => i.source === 'MindMeister' || i.pct_spent !== undefined);\nif (!mmBundle) throw new Error('No MM bundle: ' + JSON.stringify(all.map(i => Object.keys(i))));\nconst last = mmBundle.last || {}, prev = mmBundle.prev || {};\nconst pct  = (n, d) => (Number.isFinite(n) && Number.isFinite(d) && d !== 0) ? (n-d)/d : null;\nconst mom  = { spend: pct(last.totals?.spend, prev.totals?.spend),\n               conv:  pct(last.totals?.conv,  prev.totals?.conv),\n               roas:  pct(last.totals?.roas,  prev.totals?.roas),\n               ctr:   pct(last.totals?.ctr,   prev.totals?.ctr),\n               cpc:   pct(last.totals?.cpc,   prev.totals?.cpc),\n               clicks:pct(last.totals?.clicks,prev.totals?.clicks) };\nconst MONTHS = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nconst now = new Date();\nconst mn = MONTHS[(now.getMonth()+11)%12], yr = now.getMonth()===0 ? now.getFullYear()-1 : now.getFullYear();\nreturn [{ json: { monthly_payload: { MM: { last, prev, mom,\n  per_channel: last.by_channel||{},\n  highs_lows: { top3: last.top3_labels||[], bottom3: last.bottom3_labels||[] },\n  budget: budget||null }, meta: { generated_at_iso: new Date().toISOString(),\n  month_label: `${mn} ${yr}`, brand:'MM', type:'monthly' } } } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "a1313168-a05c-400e-be54-574a0e507178",
      "name": "Monthly AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1820,
        1600
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": "You are the Paid Performance Analyst for MindMeister (MM) Google Ads.\n\nYour task: Write a comprehensive monthly performance commentary for a Slack report.\n\nINPUT\nYou receive { monthly_payload: { MM: { last, prev, mom, per_channel, highs_lows, budget }, meta } }\n\nFields in last/prev: totals { spend, clicks, conv, value, ctr, cpc, roas }\nmom fields: month-over-month % changes (decimal fractions)\n\nOUTPUT RULES\n\u2022 180\u2013240 words. Plain text only \u2014 no bullet symbols, no JSON, no backticks.\n\u2022 Structure: (1) month headline (2) channel performance (3) top/bottom campaigns (4) 3 actionable recommendations.\n\u2022 Reference meta.month_label in the intro.\n\u2022 Format money as \u20acX,XXX. Round percentages to whole numbers; campaign efficiency to 2 decimals.\n\u2022 Always say \"campaign efficiency\" instead of \"ROAS\".\n\u2022 Recommendations must be specific enough to act on immediately."
        }
      }
    },
    {
      "id": "94a78c20-1846-4206-86ce-822b16d441de",
      "name": "Monthly: Claude Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.1,
      "position": [
        1820,
        1800
      ],
      "parameters": {
        "model": "claude-sonnet-4-6",
        "options": {}
      }
    },
    {
      "id": "2d83ab58-feba-41cf-bc4d-899d5037e466",
      "name": "Monthly: Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1820,
        1980
      ],
      "parameters": {
        "contextWindowLength": 10
      }
    },
    {
      "id": "dce12747-d8ba-42b2-b7ed-cb106da33bfa",
      "name": "Merge: AI + Monthly Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2080,
        1600
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "18246d5a-650d-4dd9-b8e5-5924864713ef",
      "name": "Format Monthly Blocks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        1600
      ],
      "parameters": {
        "jsCode": "\n/***\n * Format Monthly Slack Blocks\n ***/\nconst all    = $input.all().map(i => i.json);\nconst data   = all.find(i => i.monthly_payload !== undefined) || all[0];\nconst ai     = (all.find(i => i.output !== undefined) || {}).output || '';\nconst payload = data.monthly_payload || {};\nconst mm      = payload.MM || {};\nconst meta    = payload.meta || {};\n\nconst last   = mm.last?.totals    || {};\nconst prev   = mm.prev?.totals    || {};\nconst mom    = mm.mom             || {};\nconst budget = mm.budget           || {};\nconst ch     = mm.last?.by_channel || {};\n\nconst fmtEur  = n => `\u20ac${Number(n||0).toLocaleString('de-DE',{minimumFractionDigits:2,maximumFractionDigits:2})}`;\nconst fmtNum  = n => Number(n||0).toLocaleString('de-DE');\nconst fmtRoas = n => Number(n||0).toFixed(2);\nconst fmtMom  = n => n==null ? 'n/a' : `${n>=0?'+':''}${(n*100).toFixed(1)}%`;\n\nconst blocks = [\n  { type: 'header', text: { type: 'plain_text', text: `\ud83d\udcc6 MM Monthly Google Ads \u2013 ${meta.month_label || 'Last Month'}`, emoji: true } },\n  { type: 'divider' },\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: '*Monthly performance*' },\n    fields: [\n      { type: 'mrkdwn', text: `*Spend*\\n${fmtEur(last.spend)}\\n_${fmtMom(mom.spend)} MoM_` },\n      { type: 'mrkdwn', text: `*Clicks*\\n${fmtNum(last.clicks)}\\n_${fmtMom(mom.clicks)} MoM_` },\n      { type: 'mrkdwn', text: `*Conversions*\\n${fmtNum(last.conv)}\\n_${fmtMom(mom.conv)} MoM_` },\n      { type: 'mrkdwn', text: `*Efficiency*\\n${fmtRoas(last.roas)}\\n_${fmtMom(mom.roas)} MoM_` },\n      { type: 'mrkdwn', text: `*CPC*\\n${fmtEur(last.cpc)}\\n_${fmtMom(mom.cpc)} MoM_` },\n      { type: 'mrkdwn', text: `*CTR*\\n${((last.ctr||0)*100).toFixed(2)}%\\n_${fmtMom(mom.ctr)} MoM_` },\n    ]\n  },\n];\n\nif (budget.total_budget > 0) {\n  blocks.push({ type: 'section',\n    text: { type: 'mrkdwn', text: `*Budget*   ${fmtEur(budget.total_spend)} of ${fmtEur(budget.total_budget)} (${budget.pct_spent}%)  \u00b7 ${fmtEur(budget.leftover)} leftover` }\n  });\n}\n\nconst chKeys = Object.keys(ch);\nif (chKeys.length > 0) {\n  const chLines = chKeys.map(k => {\n    const b = ch[k];\n    return `\u2022 *${k}*: ${fmtEur(b.spend)} \u00b7 ${fmtNum(b.conv)} conv \u00b7 eff. ${fmtRoas(b.roas)} \u00b7 CTR ${((b.ctr||0)*100).toFixed(2)}% \u00b7 CPC ${fmtEur(b.cpc)}`;\n  }).join('\\n');\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*Channel breakdown*\\n${chLines}` } });\n}\n\nconst top3    = mm.highs_lows?.top3    || mm.last?.top3_labels    || [];\nconst bottom3 = mm.highs_lows?.bottom3 || mm.last?.bottom3_labels || [];\nif (top3.length || bottom3.length) {\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', fields: [\n    { type: 'mrkdwn', text: `*\ud83c\udfc6 Top campaigns (efficiency)*\\n${top3.map((n,i)=>`${i+1}. ${n}`).join('\\n')||'n/a'}` },\n    { type: 'mrkdwn', text: `*\u26a0\ufe0f Bottom campaigns*\\n${bottom3.map((n,i)=>`${i+1}. ${n}`).join('\\n')||'n/a'}` },\n  ]});\n}\n\nif (ai) {\n  blocks.push({ type: 'divider' });\n  blocks.push({ type: 'section', text: { type: 'mrkdwn', text: `*\ud83d\udca1 Analysis & Recommendations*\\n${ai.slice(0,3000)}` } });\n}\n\nblocks.push({ type: 'divider' });\nblocks.push({ type: 'context', elements: [{ type: 'mrkdwn', text: `_MindMeister Paid \u00b7 Monthly Report \u00b7 ${meta.month_label||''}_` }] });\nreturn [{ json: { blocks, text: `\ud83d\udcc6 MM Monthly Google Ads \u2013 ${meta.month_label||'Last Month'} | Spend: ${fmtEur(last.spend)} | Eff: ${fmtRoas(last.roas)}` } }];\n",
        "mode": "runOnceForAllItems"
      }
    },
    {
      "id": "50c41dfc-0753-431a-87d6-8d4cc28c1c5a",
      "name": "Slack: Monthly Report",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2600,
        1600
      ],
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C08NX15CMEJ",
          "mode": "id"
        },
        "text": "={{ $json.text }}",
        "blocksUi": "={{ JSON.stringify($json.blocks) }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "botProfile": {
            "imageValues": {
              "profilePhotoType": "emoji",
              "icon_emoji": "chart_with_upwards_trend"
            }
          }
        },
        "messageType": "block"
      },
      "credentials": {
        "slackApi": {
          "id": "INNGkyGYO6M06N8D",
          "name": "Campaign - Bot connection (Daan)"
        }
      }
    }
  ],
  "connections": {
    "Daily Trigger (Mon\u2013Fri 9 AM)": {
      "main": [
        [
          {
            "node": "MM Get yesterday",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get day_before_yesterday",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get last_week (baseline)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get yesterday": {
      "main": [
        [
          {
            "node": "Compile: yesterday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get day_before_yesterday": {
      "main": [
        [
          {
            "node": "Compile: day_before_yesterday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get last_week (baseline)": {
      "main": [
        [
          {
            "node": "Compile: 7-day baseline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile: yesterday": {
      "main": [
        [
          {
            "node": "Merge: Daily Pair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile: day_before_yesterday": {
      "main": [
        [
          {
            "node": "Merge: Daily Pair",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Daily Pair": {
      "main": [
        [
          {
            "node": "Merge: All Daily",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile: 7-day baseline": {
      "main": [
        [
          {
            "node": "Merge: All Daily",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: All Daily": {
      "main": [
        [
          {
            "node": "Detect Anomalies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Anomalies": {
      "main": [
        [
          {
            "node": "Daily AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge: AI + Daily Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily AI Agent": {
      "main": [
        [
          {
            "node": "Merge: AI + Daily Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Daily: Claude Model": {
      "ai_languageModel": [
        [
          {
            "node": "Daily AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Daily: Memory": {
      "ai_memory": [
        [
          {
            "node": "Daily AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Merge: AI + Daily Data": {
      "main": [
        [
          {
            "node": "Format Daily Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Daily Blocks": {
      "main": [
        [
          {
            "node": "Slack: Daily Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Trigger (Tue 10 AM)": {
      "main": [
        [
          {
            "node": "MM Get last_week",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get prev_week",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get Budget (current)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get last_week": {
      "main": [
        [
          {
            "node": "Compile: last_week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get prev_week": {
      "main": [
        [
          {
            "node": "Compile: prev_week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get Budget (current)": {
      "main": [
        [
          {
            "node": "Budget Compile (weekly)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile: last_week": {
      "main": [
        [
          {
            "node": "Merge: Weekly Pair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile: prev_week": {
      "main": [
        [
          {
            "node": "Merge: Weekly Pair",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Weekly Pair": {
      "main": [
        [
          {
            "node": "Wrap MM Week",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap MM Week": {
      "main": [
        [
          {
            "node": "Merge: Weekly + Budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Budget Compile (weekly)": {
      "main": [
        [
          {
            "node": "Merge: Weekly + Budget",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Weekly + Budget": {
      "main": [
        [
          {
            "node": "Prep Weekly for Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Weekly for Agent": {
      "main": [
        [
          {
            "node": "Weekly AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge: AI + Weekly Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly AI Agent": {
      "main": [
        [
          {
            "node": "Merge: AI + Weekly Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Weekly: Claude Model": {
      "ai_languageModel": [
        [
          {
            "node": "Weekly AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Weekly: Memory": {
      "ai_memory": [
        [
          {
            "node": "Weekly AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Merge: AI + Weekly Data": {
      "main": [
        [
          {
            "node": "Format Weekly Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Weekly Blocks": {
      "main": [
        [
          {
            "node": "Slack: Weekly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Trigger (1st 10 AM)": {
      "main": [
        [
          {
            "node": "MM Get last_month",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get prev_month",
            "type": "main",
            "index": 0
          },
          {
            "node": "MM Get Budget (last month)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get last_month": {
      "main": [
        [
          {
            "node": "Compile: last_month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get prev_month": {
      "main": [
        [
          {
            "node": "Compile: prev_month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MM Get Budget (last month)": {
      "main": [
        [
          {
            "node": "Budget Compile (monthly)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile: last_month": {
      "main": [
        [
          {
            "node": "Merge: Monthly Pair",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile: prev_month": {
      "main": [
        [
          {
            "node": "Merge: Monthly Pair",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Monthly Pair": {
      "main": [
        [
          {
            "node": "Wrap MM Month",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wrap MM Month": {
      "main": [
        [
          {
            "node": "Merge: Monthly + Budget",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Budget Compile (monthly)": {
      "main": [
        [
          {
            "node": "Merge: Monthly + Budget",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge: Monthly + Budget": {
      "main": [
        [
          {
            "node": "Prep Monthly for Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep Monthly for Agent": {
      "main": [
        [
          {
            "node": "Monthly AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge: AI + Monthly Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly AI Agent": {
      "main": [
        [
          {
            "node": "Merge: AI + Monthly Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Monthly: Claude Model": {
      "ai_languageModel": [
        [
          {
            "node": "Monthly AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Monthly: Memory": {
      "ai_memory": [
        [
          {
            "node": "Monthly AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Merge: AI + Monthly Data": {
      "main": [
        [
          {
            "node": "Format Monthly Blocks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Monthly Blocks": {
      "main": [
        [
          {
            "node": "Slack: Monthly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}